#crumbs_cont{
  border-bottom: 1px solid #ccc;
}
#crumbs ul, li {
list-style-type:none;
padding:0;
margin:0;
font-size: 12px;
}

#crumbs {
  height:1em;
 /* border:1px solid #dedede;*/
  }
#crumbs li {
  float:left;
  line-height:1em;
  color:#777;
  padding-left:.75em;
  }   
#crumbs li a {
  background:url(../images/crumbs.gif) no-repeat right center;
  display:block;
  padding:0 15px 0 0;
  }             
#crumbs li a:link,
#crumbs li a:visited {
  color:#777;
  text-decoration:none;
  } 
#crumbs a:link, #crumbs a:visited,  
#crumbs li a:hover,
#crumbs li a:focus {
  color:#dd2c0d;
} 