/* Main Style for Body and Brain */
body {
  font-family: 'Droid Sans', sans-serif, Arial;
  background: #fff;
}
.headerlogo
{
  height: 80px;
  margin-top: 10px;
  width: 326px;
  float: left;
}
.headercontact
{
  height: 80px;
  margin-top: 10px;
  width: 432px;
  float: right;
}
.contactlist
{
  text-decoration: none;
  list-style: none;
  display: inline;
  margin-left: 12px;
  color: #006699;
  border-bottom: 1px solid #b2d1e0;
  font-size: 12px;
}
.tel
{
  margin-left: 12px;
  text-decoration: none;
  list-style: none;
  display: inline;
  font-size: 12px;
  color: #a88512;
}

@media screen and (max-width:1150px){

.navigationcustom {
    z-index: 999999;
    width: 100%;
    background-color: #69b9de;
    border-right: none;
}
 
.navigationcustom ul {
    margin: 0;
    padding: 0;
}
 
.navigationcustom ul li {
    list-style: none;
    float: left;
    text-align: center;
    width: 16.6667%; /* fallback for non-calc() browsers */
    width: calc(100% / 6);
    box-sizing: border-box;
}
 
.navigationcustom ul li:first-child {
    border-left: none;
}
 
.navigationcustom ul li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    padding: 10px 0;
    font-size: 12px;
}

.navigationcustom ul li:hover  a.menu
{
  color: #fff65f;
  font-size: 12px;
}

.navigationcustom ul ul
{
    z-index: 999999;
    display: none;
}

.navigationcustom ul li:hover > ul
{
    z-index: 999999;
    display: block;
}

.navigationcustom ul ul
{
   background: #FFF;
   padding: 0;
   position: absolute;
   top: 100%;
   border-bottom: 2px solid #4fa7b0;
   border-left: 2px solid #4fa7b0;
   border-right: 2px solid #4fa7b0;
}
.navigationcustom ul ul li
{
    float: none;
    position: relative;
    width: 100%;
}
.navigationcustom ul ul li a
{
    padding: 5px 40px;
    color: #fff;
} 
.navigationcustom ul ul li a:hover
{
    background: #4fa7b0;
}

.navigationcustom ul
{
  list-style: none;
  position: relative;
}
.navigationcustom ul:after
{
    content: ""; clear: both; display: block;
}

.navigationcustom ul li
{
  float: left;
}
.navigationcustom ul li:hover
{
   
}
  
.navigationcustom ul ul li a
{
  color: #000;
  font-size: 14px;
}

.navigationcustom ul li:hover  a.submenu
{
  color: #000;
  font-size: 14px;
}

}

@media screen and (max-width:958px){

.headerlogo
{
  height: 80px;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.headercontact
{
  height: 40px;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

}

@media screen and (max-width:396px){

.headerlogo
{
  height: auto;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
.headerlogo img
{
  height: auto;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}


}

.divseparetor
{
  margin: 5px;
}
.maincolor
{
  background-color: #69b9de;
}
.active
{
  background-color: #4784b1;
}

.navigationcustom {
    z-index: 999999;
    width: 100%;
    background-color: #69b9de;
    border-right: none;
}
 
.navigationcustom ul {
    margin: 0;
    padding: 0;
}
 
.navigationcustom ul li {
    list-style: none;
    float: left;
    text-align: center;
    width: 16.6667%; /* fallback for non-calc() browsers */
    width: calc(100% / 6);
    box-sizing: border-box;
}
 
.navigationcustom ul li:first-child {
    border-left: none;
}
 
.navigationcustom ul li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    padding: 10px 0;
}

.navigationcustom ul li:hover  a.menu
{
  color: #fff65f;
}

.navigationcustom ul ul
{
    z-index: 999999;
    display: none;
}

.navigationcustom ul li:hover > ul
{
    z-index: 999999;
    display: block;
}

.navigationcustom ul ul
{
   background: #FFF;
   padding: 0;
   position: absolute;
   top: 100%;
   border-bottom: 2px solid #4fa7b0;
   border-left: 2px solid #4fa7b0;
   border-right: 2px solid #4fa7b0;
}
.navigationcustom ul ul li
{
    float: none;
    position: relative;
    width: 100%;
}
.navigationcustom ul ul li a
{
    padding: 5px 40px;
    color: #fff;
} 
.navigationcustom ul ul li a:hover
{
    background: #4fa7b0;
}

.navigationcustom ul
{
  list-style: none;
  position: relative;
}
.navigationcustom ul:after
{
    content: ""; clear: both; display: block;
}

.navigationcustom ul li
{
  float: left;
}
.navigationcustom ul li:hover
{
   
}
  
.navigationcustom ul ul li a
{
  color: #000;
  font-size: 14px;
}

.navigationcustom ul li:hover  a.submenu
{
  color: #000;
  font-size: 14px;
}




.b01
{
  background:url(/images/banner3.jpg) no-repeat;
  width: 100%;
  height: auto;
}

a.b1
{
  background:url(/images/banner2.jpg) no-repeat;
}

.b02
{
  width: 291px;
  height: 111px;
}

a.b2
{
  background:url(/images/banner3.jpg) no-repeat;
  width:100%;
  height:auto;
}

.b03
{
  width: 291px;
  height: 111px;
}

a.b3
{
  background:url(/images/banner4.jpg) no-repeat;
  width:100%;
  height:auto;
}

.mobilemenu
{
  display: none;
}

.map h4
{
  margin-bottom: 50px;
}

@media screen and (max-width:992px){

.mapwrapper
{
  width:100% !important;
  float:left !important;
  padding-left:10px !important;
  padding-right:10px !important;
}

.enewswrapper
{
  margin-top: 10px;
  width:100% !important;
  float:left !important;
  padding-left:10px !important;
  padding-right:10px !important;
}

}

@media screen and (max-width:958px){

.mobilemenu
{
  display: block;
}

.navigationcustom
{
  display: none;
}

}

.sidelogo
{
  text-align: center;
  margin-top: 32px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ddd;
}

.enewsletter
{
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
}




.mapwrapper
{
  width:40%;
  float:left;
  padding-left:10px;
  padding-right:10px;
}

.map
{
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
}

.successstorywrapper
{
  width:60%;
  float:left;
  padding-right: 10px;
}

.successstory
{
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  margin-top: 10px;
}

.giveawaywrapper
{
  width:40%;
  float:left;
  padding-left: 10px;
}

.giveaway
{
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  margin-top: 10px;
}

.enewswrapper
{
  width:60%;
  float:left;
  padding-left:10px;
  padding-right:10px;
}

.email_wrap 
{
  float: left;
  margin: 5px 0px 0px 0px;
  padding: 4px 0 0 4px;
  width: 290px;
  height: 35px;
  background: url("/images/bg_letter.gif") no-repeat;
}

.input_email 
{
  float: left !important;
  padding: 0 8px !important;
  margin-right: 2px !important;
  width: 180px !important;
  height: 25px !important;
  font-size: 12px !important;
  color: #000 !important;
  border: 0 !important;
  background: transparent !important;
  line-height: 25px\9 !important;
}

.btn_email 
{
  cursor: pointer !important;
  float: left !important;
  width: 77px !important;
  height: 25px !important;
  font-size: 12px !important;
  color: #333 !important;
  border: 0 !important;
  background: transparent !important;
}
.fieldsets
{
  padding: 10px !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  font-size: 100% !important;
  font: inherit !important;
  vertical-align: baseline !important;
}

.socials
{
  width: 175px;
  float: left;
}

.etitle
{
  float: left;
  font-size: 14px;
  padding-top: 10px;
  padding-right: 10px;
}

.statelist
{
  float: left;
  width: 65%;
  padding: 20px;
  border-right: 1px solid #e6e6e6;
  margin-top: 10px;
}

.contactlists
{
  float: left;
  width: 35%;
  padding: 20px;
  margin-top: 10px;
 
}

.list 
{
  margin-bottom: 10px;
  float: left;
  width: 150px;
}

.category 
{
  margin-top: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 10px;
  height: 18px;
  font-size: 15px;
  color: #00539b;
}

.link 
{
  height: 20px;
  line-height: 20px;
}

.link a 
{
  font-size: 12px;
  color: #666;
}



.footer
{
  width: 100%;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
}

.footerul
{
  width:100%;
  overflow: hidden;
}

.sitecenter
{
  margin-right: auto;
  margin-left: auto;
  width: 670px;
}

.footer .site 
{
  padding: 5px 0 0 10px;
  height: 100px;
}

.footer .site li 
{
  float: left;
  padding: 0 35px 0 25px;
  height: 80px;
  border-right: 1px solid #e9e9e9;
}

.footer .site p 
{
  margin-bottom: 20px;
}

.footer .site p a 
{
  padding-left: 7px;
  font-size: 13px;
  color: #272727;
}

.footer .site .link 
{
  display: block;
  margin-bottom: 10px;
  padding-left: 7px;
  font-size: 11px;
  color: #999999;
  background: url("/images/ico_mark.gif") no-repeat left center;
}

.welcomefooter
{
  text-align: center;
}

.welcomefooter p
{
  line-height: 20px;
  font-size: 15px;
  color: #7a7171;
}

.footertitle {
  font-family: "Cookie";
  font-size: 50px;
  color: #252525;
  margin-bottom: 10px;
}

@font-face {
  font-family: 'Cookie';
  src: url('/font/Cookie.ttf');
}

.mid {
  width: 100%
  padding: 10px 0 0 30px;
  border-bottom: 1px solid #e6e6e6;
  overflow: hidden;
}

.mid .tel 
{
  display: block;
  float: left;
  padding-left: 30px;
  height: 19px;
  line-height: 19px;
  font-size: 11px;
  color: #cc0033;
  background: url("/images/tel.gif") no-repeat;
}

.mid .tel span 
{
  font-size: 10px;
  color: #999;
}

.mid .country 
{
  float: right;
}

.mid .country label 
{
  float: left;
  margin-right: 10px;
  height: 24px;
  line-height: 24px;
  font-size: 11px;
  color: #666;
}

.mid .country .select_wrap 
{
  cursor: pointer;
  position: relative;
  float: left;
  width: 131px;
  height: 22px;
  border: 1px solid #e1e1e1;
  background: #f3f3f3 url("/images/ico_select_arrow.gif") no-repeat right center;
  overflow: hidden;
}

.mid .country .select_wrap .value 
{
  cursor: pointer;
  display: block;
  padding-left: 8px;
  height: 22px;
  line-height: 24px;
  font-size: 11px;
  color: #666;
  overflow: hidden;
}

.mid .country .select_wrap select 
{
  cursor: pointer;
  position: absolute;
  left: -1px;
  top: 0;
  width: 133px;
  height: 24px;
  line-height: 24px;
  font-size: 11px;
  color: #666;
  border: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

.bottom
{
  height: 180px;
  line-height: 60px;
  text-align: center;
}

.bottom a
{
  margin: 0 7px;
  font-size: 11px;
  color: #36a1d3;
  text-decoration: underline;
}

.bottom span 
{
  margin-left: 7px;
  font-size: 11px;
  color: #999;
}

.stateandcontactlist
{
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  overflow: hidden;
}

@media screen and (max-width:725px){
.emailwarpper
{
  width: 100%;
  overflow: hidden;
}
.ewarp 
{
  width: 290px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.socials
{
  width: 100%;
  text-align: center;
}

.socialcontent
{
   width: 175px;
   margin-right: auto;
   margin-left: auto;
}

.etitle
{
  width: 100%;
  font-size: 14px;
  padding-top: 10px;
}
.titletext
{
  text-align: center;
}

.successstorywrapper
{
  width:100%;
  float:left;
  padding-right: 0px;
}

.giveawaywrapper
{
  width:100%;
  float:left;
  padding-left: 0px;
}

.statelist
{
  float: left;
  width: 100%;
  padding: 20px;
  border: 1px solid #e6e6e6;
  margin-top: 10px;
  border-radius: 5px;
}

.contactlists
{
  float: left;
  width: 100%;
  padding: 20px;
  border: 1px solid #e6e6e6;
  margin-top: 10px;
  border-radius: 5px;
}

.footertitle {
  font-family: "Cookie";
  font-size: 30px;
  color: #252525;
  margin-bottom: 10px;
}

.stateandcontactlist
{
  border: none !important;
}

}

@media screen and (max-width:630px){

.telwrapper
{
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}

.telcenter
{
  width: 250px;
  margin-left: auto;
  margin-right: auto
}

.countrywrapper
{
  width: 100%;
  overflow: hidden;
}

.countrycenter
{
  width: 250px;
  margin-left: auto;
  margin-right: auto
}

}

.circle
{
  -ms-transform: rotate(-75deg); /* IE 9 */
  -webkit-transform: rotate(-75deg); /* Chrome, Safari, Opera */
  transform: rotate(-75deg);
  border-radius: 100%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  
}

.circleimages
{
  -ms-transform: rotate(75deg); /* IE 9 */
  -webkit-transform: rotate(75deg); /* Chrome, Safari, Opera */
  transform: rotate(75deg);
  left: 0;
  top: 0;
  width: 132px;
  height: 132px;
  padding:10px;
  background: url("/images/bg_peopleN.png") no-repeat;
  z-index: 10;
  margin-bottom: 10px;
}

/* Image map styles */
.imageMap {width:100%; position:relative; margin-bottom:20px;}
.imageMap img {display:block; width:100%;}
.imageMap .hotspots {width:100%; height:100%; position:absolute; left:0; top:0; visibility:hidden;}
.imageMap a {display:block; position:absolute;  z-index:100; }


.imageMap a.p1 {left:08%; top:-10%; width:13%; height:13%;width:9%;}
.imageMap a.p1:hover {}
.imageMap a.p2 {left:02%; top:5%; width:13%; height:13%;width:9%;}
.imageMap a.p2:hover {}
.imageMap a.p3 {left:10%; top:20%; width:13%; height:13%;width:9%;}
.imageMap a.p3:hover {}
.imageMap a.p4 {left:02%; top:30%; width:13%; height:13%;width:9%;}
.imageMap a.p4:hover {}
.imageMap a.p5 {left:17%; top:42%; width:13%; height:13%;width:9%;}
.imageMap a.p5:hover {}
.imageMap a.p6 {left:29.6%; top:25%; width:13%; height:13%;width:9%;}
.imageMap a.p6:hover {}
.imageMap a.p7 {left:27%; top:47%; width:13%; height:13%;width:9%;}
.imageMap a.p7:hover {}
.imageMap a.p8 {left:25%; top:68%; width:13%; height:13%;width:9%;}
.imageMap a.p8:hover {}
.imageMap a.p9 {left:42%; top:59%; width:13%; height:13%;width:9%;}
.imageMap a.p9:hover {}
.imageMap a.p10 {left:48.5%; top:-5%; width:13%; height:13%;width:9%;}
.imageMap a.p10:hover {}
.imageMap a.p11 {left:53.8%; top:2%; width:13%; height:13%;width:9%;}
.imageMap a.p11:hover {}
.imageMap a.p12 {left:58%; top:20%; width:13%; height:13%;width:9%;}
.imageMap a.p12:hover {}
.imageMap a.p13 {left:72%; top:47%; width:13%; height:13%;width:9%;}
.imageMap a.p13:hover {}
.imageMap a.p14 {left:80%; top:2%; width:13%; height:13%;width:9%;}
.imageMap a.p14:hover {}
.imageMap a.p15 {left:79%; top:23%; width:13%; height:13%;width:9%;}
.imageMap a.p15:hover {}
.imageMap a.p16 {left:81%; top:33%; width:13%; height:13%;width:9%;}
.imageMap a.p16:hover {}
.imageMap a.p17 {left:77.8%; top:62%; width:13%; height:13%;width:9%;}
.imageMap a.p17:hover {}
.imageMap a.p18 {left:88.2%; top:1.5%; width:13%; height:13%;width:9%;}
.imageMap a.p18:hover {}
.imageMap a.p19 {left:95%; top:10.8%; width:13%; height:13%;width:9%;}
.imageMap a.p19:hover {}
.imageMap a.p20 {left:95%; top:25%; width:13%; height:13%;width:9%;}
.imageMap a.p20:hover {}
.imageMap a.p21 {left:89%; top:29%; width:13%; height:13%;width:9%;}
.imageMap a.p21:hover {}

.imageMap a p
{
  margin-top: -135%;
  font-size: 8px;
}


.imageMap a + p {position:absolute; left:0%; top:102%; width:100%; color:#000; display:none;}

.imageMap .hotspots {visibility:visible;}
.imageMap p {padding:0; margin:0; font: normal 18px/22px 'times new roman',serif; color:#444;}

.find_wrap 
{
  margin: 10px 0 0 70px !important;
  padding: 4px 0 0 4px !important;
  width: 240px !important;
  height: 35px !important;
  background: url("/images/bg_findcenter.gif") no-repeat !important;
}

.find_wrap  .input_find 
{
  float: left !important;
  padding: 0 8px !important;
  margin-right: 2px !important;
  width: 160px !important;
  height: 25px !important;
  font-size: 12px !important;
  color: #333 !important;
  border: 0 !important;
  background: transparent !important;
  line-height: 25px\9 !important;
}

 .find_wrap .btn_find 
 {
  cursor: pointer !important;
  float: left !important;
  width: 31px !important;
  height: 25px !important;
  border: 0 !important;
  background: transparent !important;
}

.ortext
{
  float:left;width:50px;margin-left:30px;line-height:32px;font-size:25px;color:#252525;font-family:'Ubuntu';
}

@media screen and (max-width:850px){

  .sitecenter
{
  margin-right: auto;
  margin-left: auto;
  width: 170px;
}

.footer .site li 
{
  float: left;
  padding: 0 35px 0 25px;
  height: 80px;
  border-right: 0px solid #e9e9e9;
  margin-bottom: 30px;
}


}