


/*INNER PAGE ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#content {
  background: #f8f8f8;
}
#sidebar {
  /*background: #f0efef;*/
}
#content, #middle, #sidebar {
  margin-bottom: 5px;
}

#pagewrap, #content, #middle, #sidebar {
 /* border: solid 1px #ccc;*/
}
#content {
  width: 220px;
  float: left;
}

#sidebarmenu ul{
  position: relative;
  border: 1px solid #ccc;
}
#sidebarmenu li{
  color: red;
  padding: 10px 0px 10px 10px;
}
#sidebarmenu li:hover{
  background: #4fa7b0;
}
#sidebarmenu a{
  color: #333;
  list-style: square ;
}
.dot {
  color: red;
}
#sidebarmenu li:hover .dot {
  color: #fff;
}

#newsletter{
  padding: 5px;
  border: 1px solid #ccc;
}
#newsletter .text{
  padding-left: 10px;
  width: 95%;
  background: #eee;
}
#newsletter .send{
  width: 100%;
  line-height: 20px;
}
#newsletter .frmtitle{
  text-align: center;
  font-size: 20px;
}
.h3title{
  margin-top: -10px;
  font-size: 30px;
}
.h5title{
  color: #aaa;
}
#middle {
  width: 735px; /* Account for margins + border values */
  float: left;
  padding: 5px 5px;
  margin: 0px 5px 5px 5px;
}
#middle iframe{
  width: 100% !important;
  height:400px ;
}

#sidebar {
  width: 270px;
  padding: 5px 15px;
  float: left;
}
#sidebar .getstarted{
  width: 100%;
  height: 80%;
  margin-top: 105px;
}
#sidebar .frmtitle{
  font-size: 20px;
}
#sidebar .success_stories{
  padding: 5px;
  background: #f1eee4;
}

.thumb_pic{
  width: 90%;
  height: 120px;
  margin-left: 10px;
}
.story_info{
  padding: 12px;
}
.story_title{
  color: #358d97;
}
.story_add{
  font-size: 11px;
}
.story_msg{
  font-size: 12px;
  margin: 10px 0px 10px 0px ;
}
.marg_lft{
  margin-left: 10px;
  margin-bottom: 10px;
}




.popularpost{
  width: 100%;
  margin-top: 3%;
}
.post{
  /*clear: both;*/
  margin-bottom: 3%;
  bottom: 1px solid #ccc;
  width: 100%;
  padding-bottom: 10px;
  /*    border-bottom:1px solid #ccc;*/
  float: none;
  min-height: 90px;
}
.post_pic{
  width: 40%;
  height: 65px;
  margin-right: 10px;
  float: left;

}
#sidebar span{
  width: 50%;
  float: left;
  font-size: 12px;
}
.add img{
    width: 100%;
    margin-top: 100px;
  }




/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
@media screen and (max-width: 1440px) {
  #content {
    min-width: 21%;
  }
  #middle {
    width: 78.5%;
    margin: 0px 0px 5px 5px;
    float: left;
  }
  #middle iframe{
    width: 500px !important;
    height:375px ;
    float: left;
    padding: 20px 20px 20px 0px;
  }
#sidebar {
  width: 100%;
  float: none;
  font-size: 12px;
}

/*Success Stories*/
.add img{
    float: left;
    width: 15%;
    margin-top: 0px;
  }
  .suc_stor{
    padding: 10px 0px 0px 10px;
  }
  .add img{
    float: left;
  }
  .success_stories{
   width: 80%;
   float: left;
   margin-left: 3%;
 }
 .story_cont{
  clear: none;
  width: 49%;
  float:left;
}
.thumb_pic{
  width:40%;
  height: 6%;
  float: left;
  padding: 5px;

}
.story_info{
  padding: 12px;
  float: none;
  width: 50%;
  float: left;

}
.story_title{
  color: #358d97;
}
.story_add{
  font-size: 11px;
}
.story_msg{
  font-size: 12px;
  margin: 10px 0px 10px 0px ;
}


/*POPULAR POST*/
.pop_feat{
  padding-top: 20px;
}
.marg_lft{
  margin-left: -1%;
  margin-bottom: 10px;
}
.popularpost{
  width: 100%;
  margin-top: 3%;
  clear: both;
}
.post{

  margin-bottom: 3%;
  bottom: 1px solid #ccc;
  width: 20%;
  padding: 10px;
  float: left;
}
.post_pic{
  width: 100%;
  height: 95px;
  margin-right: 10px;
  float: none;
  margin-left: -10%;
}
#sidebar span{
  width: 100%;
   margin-left: -10%;
}





}



@media screen and (max-width: 1234px) {

 #sidebar .getstarted{
  width:18%;
  margin-top: 10px;
  float: left;
  margin-right:10px; 

}


}


@media screen and (max-width: 1229px) {

  #content {
    min-width: 21%;
  }
  #middle {
    width: 70%;
    margin: 0px 0px 5px 5px;
    float: left;
  }
  
  #sidebar {
    clear: both;
    padding: 1% 4%;
    width: auto;
    float: none;
  }


}
@media screen and (max-width: 1209px) {


  #content {
    min-width: 21%;
  }
  #middle {
    width: 75%;
    margin: 0px 0px 5px 5px;
    float: left;
  }
  
  #sidebar {
    clear: both;
    padding: 1% 4%;
    width: auto;
    float: none;
  }


}



@media screen and (max-width: 1066px) {
  .clearboth{
    clear: both;
  }
  #newsletter .frmtitle{
    text-align: left;
    font-size: 20px;
    margin-left: 20px;
  }
  #newsletter .text{
    padding-left: 10px;
    width: 75%;
    background: #eee;
    float: left;
  }
  #newsletter .send{
    width: 20%;
    float: left;
    line-height: 37px;
  }
  
  #content {
    min-width: 100%;
  }
  
  #middle {
    min-width: 100%;
  }
  
  #sidebar {
    clear: both;
    width: auto;
    float: none;
  }


  #middle iframe{
    width: 400px !important;
    height:280px ;
    float: left;
    padding: 20px 20px 20px 0px;
  }


  /*Success Stories*/
  .suc_stor{
    padding: 10px 0px 0px 10px;
  }
  .add img{
    float: left;
  }
  .success_stories{
   width: 70%;
   float: left;
   margin-left: 3%;
 }
 .story_cont{
  clear: both;
  width: 100%;
  float:left;
}
.thumb_pic{
  width:35%;
  height: 5%;
  float: left;
  padding: 5px;

}
.story_info{
  padding: 12px;
  float: left;
  width: 60%;

}
.story_title{
  color: #358d97;
}
.story_add{
  font-size: 11px;
}
.story_msg{
  font-size: 12px;
  margin: 10px 0px 10px 0px ;
}


/*POPULAR POST*/
.marg_lft{
  margin-left: -1%;
  margin-bottom: 10px;
}
.popularpost{
  width: 100%;
  margin-top: 3%;
}
.post{

  margin-bottom: 3%;
  bottom: 1px solid #ccc;
  width: 33%;
  padding: 10px;
  float: left;
}
.post_pic{
  width: 100%;
  height: 95px;
  margin-right: 10px;
  float: none;
  margin-left: none;

}
#sidebar span{
  width: 100%;
  margin-left: none;
}


}
@media screen and (max-width: 959px) {


  /*Success Stories*/

  .add img{
    width: 30%;
    float: left;
    margin-left: -25px;
  }
   .success_stories{
   width: 70%;
   float: left;
   margin-left: 3%;
 }

}

@media screen and (max-width: 788px) {

 #middle iframe{
  width:100% !important;
  height:380px ;
  float: left;
  padding: 20px 20px 20px 0px;


}
/*Success Stories*/
.suc_stor{
  padding: 10px 0px 0px 10px;
}
.add img{
  width: auto;
  float: left;
  margin-left: none;
}
.success_stories{
 width: 63%;
 float: left;
 margin-left: 3%;
}
.story_cont{
  clear: both;
  width: 100%;
  float:left;
}
.thumb_pic{
  width:35%;
  height: 5%;
  float: left;
   padding: none;

}
.story_info{
  padding: 12px;
  float: left;
  width: 60%;

}
.story_title{
  color: #358d97;
}
.story_add{
  font-size: 11px;
}
.story_msg{
  font-size: 12px;
  margin: 10px 0px 10px 0px ;
}


/*POPULAR POST*/
.marg_lft{
  margin-left: -1%;
  margin-bottom: 10px;
}
.popularpost{
  width: 100%;
  margin-top: 3%;
}
.post{

  margin-bottom: 3%;
  bottom: 1px solid #ccc;
  width: 33%;
  padding: 10px;
  float: left;
}
.post_pic{
  width: 100%;
  height: 95px;
  margin-right: 10px;
  float: none;
}
#sidebar span{
  width: 100%;
}


}

@media screen and (max-width: 770px) {


  /*Success Stories*/
  .add img{
    float: none;
    margin-left: 1%;
  }
  .suc_stor{
    padding: 10px 0px 0px 10px;
  }
  .add img{
    float: none;
  }
  .success_stories{
   width: 100%;
   float: left;
   margin-left: -5%;
 }
 .story_cont{
  clear: both;
  width: 100%;
  float:left;
  margin-left: -3%;
}
.thumb_pic{
  width:35%;
  height: 5%;
  float: left;
  padding: 10px;

}
.story_info{
  padding: 12px;
  float: left;
  width: 60%;

}
.story_title{
  color: #358d97;
}
.story_add{
  font-size: 11px;
}
.story_msg{
  font-size: 12px;
  margin: 10px 0px 10px 0px ;
}
}
@media screen and (max-width: 480px) {


  #middle iframe{
    width:100% !important;
    height:280px ;
    float: left;
    padding: 20px 20px 20px 0px;


  }
  /*START SIDE BAR////////////////////////////////////*/
  .suc_stor{
    padding: 10px 0px 0px 10px;
  }
  .add img{
    width:100%;
    margin-bottom: 10px;
    padding-left: 5%;
    margin-left: -%;
  }

  /*Success Stories*/
  .success_stories{
    min-width: 100%;
    float: left;
    margin-left: none;
    margin-right: -20px;
  }
  .story_cont{
    clear: both;
    width: 100%;
    float:none;
     margin-left: none;
  }
  .thumb_pic{
    width: 90%;
    height: 140px;
    float: none;
    padding: none;

  }
  .story_info{
    padding: none;
    float: left;
    width: 100%;

  }


  /*POPULAR POST*/
  .marg_lft{
    margin-left: -1%;
    margin-bottom: 10px;
  }
  .popularpost{
    width: 100%;
    margin-top: 3%;
  }
  .post{
    clear: both;
    margin-bottom: 3%;
    bottom: 1px solid #ccc;
    width: 100%;
    padding-bottom: 10px;
    border-bottom:1px solid #ccc;
    float: none;
  }
  .post_pic{
    width: 40%;
    height: 65px;
    margin-right: 10px;
    float: left;

  }
  #sidebar span{
    width: 50%;
    margin-left: 3%;
  }



}


