.w_head{
  min-width: 500px;

}
.w_banner{
  width: 75%;
  float: left;
  padding: 10px 10px 10px 0px;

}
.w_banner img{
  width: 100%;

}
.up_sched{
  width: 25%;
  float: left;
}

.up_sched .w_h_title{
  width: 100%;
  padding:0px 10px 0px 10px;
  margin: 3% 0px 0px 0px;
  background: #4fa7b0; 
  color: #fff;

}
.u_s_title{
  font-size: 18px;
  float: left;
}
.see_all{
  float: right ;
  color: #000;
  font: 14px;
  margin:21px 0px 0px 0px; 
  padding: 0px 0px 0px 0px;
}

#wh5{
  font-size: 16px;
  color:  #4fa7b0;
}
#w_sched {
  margin: -1px 0px 0px 0px
}
#w_sched li{
  padding: 5px;
  border: 1px solid #ddd;
  min-height: 101px;
}
#sched_date{
  padding:  0px 0px 0px 10px;

}

#wh5_sched_add{
 background: #fff;
 float: right;
}
#wh5_sched_add a{
  text-decoration: underline;
  color: #2a8ce9;
}

.w_h_desc {
  width: 100%;
  clear: both;
  font-size: 16px;
  border-bottom:1px solid #ddd;
  padding: 0px 0px 2% 0px; 
}
.w_h_desc p{
  width: 75%;
}

/*////////////////////////////////TWO COL*/
.cont_bor{
  padding:10px;
  border: 1px solid #ddd;
}
#col2{
  width: 48%;
  float: left;
  margin: 10px 15px 10px 5px;
  min-height: 200px;
}
#col2 img{
 width: 40%;
 padding: 5px;
 float: left;
 min-height: 150px;
}
.col2_p{
  font-size: 13px;
}
.col2_cont{
  width: 50%;
  float: left;
}

/* WELLNESS AT WORK //////////////////////////////////////////////////////////////////////*/
#hbanner {
  position:relative;
  text-align: center;
  color: #0c75b0;
  padding: 10px;

}
#hbanner img{
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

/*SOME CONTENT///////////////////////////////////////////////////*/
#bh1{
  font-size: 69px;
  font-weight: bold;
  text-align: center;
}
#bh2{
  font-size: 29px;
  border-top: 2px solid #aaa;
}
#bh3{
  font-size: 43px;
  font-weight: bold;
}
#t_banner{
  width: 80%;
  margin: auto;
  background-color: #e3e7f2 !important;
  margin-top: 500px;
  min-height:250px;
  padding: 10px 20px 10px 20px;
  /* opacity: 0.5;*/
}
.banmenu{
  background: #f3ca3e;
}
.blink{
  text-align: center;
}
.bline{
  border-right:1px solid #f3931a;
}
.txt_center{
  text-align: center;
}
#fontsize1{
  margin-bottom: 16px;
  color: #1775b0;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}
#fontsize2{
  margin-bottom:50px; 
  font-size:20px; 
  text-align:center; 
  line-height:1.4em; 
  color:#231f20; 
  font-family:"Droid Sans", 
  sans-serif, Arial;
}
#fontsize3{
 margin-bottom: 55px;
 font-size: 52px;
 text-align: center;
 color: #1775b0;
 font-weight: bold;
 letter-spacing: -2px;
 line-height: 1.2em;
}
#fontsize4{
  font-size: 52px;
  text-align: center;
  color: #fff;
  font-weight: 600px;
}
.aff{
  width: 70%;
  margin: auto;
}
.orglogo {
  width: 60%;
}

/*////////////////////////////////THREE COL*/
#h1_title{
  font-size: 30px;
  margin: 20px 0px -5px 0px
}
#h3_title{
  font-size: 20px;
  color: #4fa7b0;
  margin: 10px 0px 10px 0px
}
#col3{
  width: 33%;
  float: left;
  margin: 0px 0px 0px 0px;
  padding: 10px;
}
.t_c_img{
  width: 100%;
}

@media screen and (max-width: 1197px) {
  .w_banner{
    width: 100%;
  }
  .up_sched{
    width: 100%;
  }

  .h3_title{

  }

  #col2{
    width:47%;
    float: left;
    margin: 10px 15px 10px 5px;
    min-height: auto;
  }
  #col2 img{
   width: 100%;
   padding: 5px;
   float: none;
 }
 .col2_p{
  font-size: 13px;
}
.col2_cont{
  width: 100%;
  float: none;
}
.two_col_img{

}
}

@media screen and (max-width:1073px) {

  #col2{
    min-height:370px;
  }

}

@media screen and (max-width:862px) {

  #col2{
    min-height: 350px;
  }

}
@media screen and (max-width:828px) {

  #col2{
    width:100%;
    float: left;
    margin: 10px 15px 10px 5px;
    min-height: 200px;
    background: #eee;
  }
  #col2 img{
   width: 40%;
   padding: 5px;
   float: left;

 }
 .col2_p{
  font-size: 13px;
  padding: 10px;
}
.col2_cont{
  width: 50%;
  float: left;
}
#h3_title{
  padding:10px;
}


}
@media screen and (max-width: 768px) {
/*THREE COL SATRT*/
  #h1_title{
  font-size: 30px;
  margin: 20px 0px -5px 0px
}
#h3_title{
  font-size: 20px;
  color: #4fa7b0;
  margin: 10px 0px 10px 0px
}
#col3{
  width: 100%;
  float: left;
  margin: 0px 0px 0px 0px;
  padding: 10px;
}
.t_c_img{
  width: 100%;
}
}
@media screen and (max-width: 480px) {

  #col2{
    width:100%;
    float: left;
    margin: 10px 15px 10px 5px;
    min-height: 200px;
    background: #eee;
  }
  #col2 img{
   width: 100%;
   padding: 5px;
   float: none;

 }
 .col2_p{
  font-size: 13px;
  padding: 10px;
}
.col2_cont{
  width: 100%;
  float: none;
}
#h3_title{
  padding:10px;
}


}
