<!DOCTYPE html>
<html>
<head>

  <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/three_col_inner_page.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/two_col_inner_page.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/breadcrumbs.css"  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  
</head>

<body>

  <div class="container">


    <div class="row">
      <div class="col s12">
        <div class="headerlogo">
          <img src="images/logo.gif">
        </div>
        <div class="headercontact">
          <ul>
            <li class="tel">1-877-477-YOGA</li>
            <li class="contactlist"><a href="#">Contact Us</a></li>
            <li class="contactlist"><a href="#">Success stories</a></li>
            <li class="contactlist"><a href="#">Yoga Life</a></li>
            <li class="contactlist"><a href="#">Franchising</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="navigationcustom maincolor">
      <ul>
        <li><a href="#" class="menu">ABOUT</a>
          <ul>
            <li><a href="#" class="submenu">About Body & Brain</a></li>
            <li><a href="#" class="submenu">How Are We Different?</a></li>
            <li><a href="#" class="submenu">Core Energy Principles</a></li>
            <li><a href="#" class="submenu">Founder Ilchi Lee</a></li>
            <li><a href="#" class="submenu">30 Day Guarantee</a></li>
            <li><a href="#" class="submenu">Research</a></li>
            <li><a href="#" class="submenu">FAQ</a></li>
            <li><a href="#" class="submenu">Practice At Home</a></li>
          </ul>
        </li>
        <li><a href="#" class="menu">CLASSES</a>
          <ul>
            <li><a href="#" class="submenu">Overview</a></li>
            <li><a href="#" class="submenu">Video Classes</a></li>
            <li><a href="#" class="submenu">Tai Chi & Qigong</a></li>
            <li><a href="#" class="submenu">Energy Meditation</a></li>
            <li><a href="#" class="submenu">Core Strengthening</a></li>
            <li><a href="#" class="submenu">Glossary</a></li>
            <li><a href="#" class="submenu">Class Etiquette</a></li>
            <li><a href="#" class="submenu">Plate Balancing Exercise</a></li>
          </ul>
        </li>
        <li><a href="#" class="menu">WORKSHOP</a>
          <ul>
            <li><a href="#" class="submenu">Overview</a></li>
            <li><a href="#" class="submenu">Initial Awakening&#8482;</a></li>
            <li><a href="#" class="submenu">Finding True Self</a></li>
            <li><a href="#" class="submenu">Sedona Retreat for Change</a></li>
            <li><a href="#" class="submenu">Solar Body Natural Healing Course</a></li>
            <li><a href="#" class="submenu">DahnMuDo&#8482;</a></li>
            <li><a href="#" class="submenu">Brain Management Training</a></li>
            <li><a href="#" class="submenu">Dahn Master Course</a></li>
            <li><a href="#" class="submenu">Meditation Tours</a></li>
            <li><a href="#" class="submenu">Schedules</a></li>
            <li><a href="#" class="submenu">Healthier Together</a></li>
          </ul>
        </li>
        <li><a href="#" class="menu">WELLNESS AT WORK</a>
          <ul>
            <li><a href="#" class="submenu">Web Design</a></li>
            <li><a href="#" class="submenu">Our Programs</a></li>
            <li><a href="#" class="submenu">Getting Started</a></li>
            <li><a href="#" class="submenu">Success Stories</a></li>
          </ul>
        </li>
        <li><a href="#" class="menu">COMMUNITY ACTION</a>
          <ul>
            <li><a href="#" class="submenu">Overview</a></li>
            <li><a href="#" class="submenu">Community Classes</a></li>
            <li><a href="#" class="submenu">Project Orange</a></li>
            <li><a href="#" class="submenu">Book Donations</a></li>
            <li><a href="#" class="submenu">Nevada 1st Project</a></li>
            <li><a href="#" class="submenu">Nicaragua Project</a></li>
          </ul>
        </li>
        <li class="active"><a href="contact.html">FIND A CLASS</a></li>
      </ul>
    </div>
    <div id="crumbs_cont">
      <ul id="crumbs">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li>Core Energy Principles</li>
      </ul>
    </div>

    <div class="mobilemenu">
      <nav>
        <div class="nav-wrapper maincolor">
          <a href="#!" class="brand-logo"></a>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
          <ul id="nav-mobile" class="side-nav">
            <div class="sidelogo" style="text-align: center;margin-top: 32px;margin-bottom: 16px;border-bottom: 1px solid #ddd;padding:20px;">
              <img src="images/logo.gif" style="width:100%;height:auto;">
            </div>
            <ul class="collapsible collapsible-accordion">
              <li class="bold"><a class="collapsible-header  waves-effect waves-teal">About</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="#" class="submenu">About Body & Brain</a></li>
                    <li><a href="#" class="submenu">How Are We Different?</a></li>
                    <li><a href="#" class="submenu">Core Energy Principles</a></li>
                    <li><a href="#" class="submenu">Founder Ilchi Lee</a></li>
                    <li><a href="#" class="submenu">30 Day Guarantee</a></li>
                    <li><a href="#" class="submenu">Research</a></li>
                    <li><a href="#" class="submenu">FAQ</a></li>
                    <li><a href="#" class="submenu">Practice At Home</a></li>
                  </ul>
                </div>
              </li>
              <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Classes</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="#" class="submenu">Overview</a></li>
                    <li><a href="#" class="submenu">Video Classes</a></li>
                    <li><a href="#" class="submenu">Tai Chi & Qigong</a></li>
                    <li><a href="#" class="submenu">Energy Meditation</a></li>
                    <li><a href="#" class="submenu">Core Strengthening</a></li>
                    <li><a href="#" class="submenu">Glossary</a></li>
                    <li><a href="#" class="submenu">Class Etiquette</a></li>
                    <li><a href="#" class="submenu">Plate Balancing Exercise</a></li>
                  </ul>
                </div>
              </li>
              <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Workshop</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="#" class="submenu">Overview</a></li>
                    <li><a href="#" class="submenu">Initial Awakening</a></li>
                    <li><a href="#" class="submenu">Finding True Self</a></li>
                    <li><a href="#" class="submenu">Sedona Retreat for Change</a></li>
                    <li><a href="#" class="submenu">Solar Body Natural Healing Course</a></li>
                    <li><a href="#" class="submenu">Dahn MuDo</a></li>
                    <li><a href="#" class="submenu">Brain Management Training</a></li>
                    <li><a href="#" class="submenu">Dahn Master Course</a></li>
                    <li><a href="#" class="submenu">Meditation Tours</a></li>
                    <li><a href="#" class="submenu">Schedules</a></li>
                    <li><a href="#" class="submenu">Healthier Together</a></li>
                  </ul>
                </div>
              </li>
              <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Wellness at Work</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="#" class="submenu">Web Design</a></li>
                    <li><a href="#" class="submenu">Our Programs</a></li>
                    <li><a href="#" class="submenu">Getting Started</a></li>
                    <li><a href="#" class="submenu">Success Stories</a></li>
                  </ul>
                </div>
              </li>
              <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Community Action</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="#" class="submenu">Overview</a></li>
                    <li><a href="#" class="submenu">Community Classes</a></li>
                    <li><a href="#" class="submenu">Project Orange</a></li>
                    <li><a href="#" class="submenu">Book Donations</a></li>
                    <li><a href="#" class="submenu">Nevada 1st Project</a></li>
                    <li><a href="#" class="submenu">Nicaragua Project</a></li>
                  </ul>
                </div>
              </li>
            </ul>

            <li class="bold"><a href="getting-started.html" class="waves-effect waves-teal">Find a Class</a></li>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="divseparetor"></div>


  <section id="content">

    <div id="sidebarmenu">
      <ul>
        <li><a href="#"> <label class="dot" > &#9642;</label> About Body & Brain</a></li>
        <li><a href="#"> <label class="dot" > &#9642;</label> How Are We Different?</a></li>
        <li><a href="#"> <label class="dot" > &#9642;</label> Core Energy Principles</a></li>
        <li><a href="#"> <label class="dot" > &#9642;</label> Founder Ilchi Lee</a></li>
        <li><a href="#"> <label class="dot" > &#9642;</label> 30 Day Guarantee</a></li>
        <li><a href="#"> <label class="dot" > &#9642;</label> Research</a></li>
        <li><a href="#"> <label class="dot" > &#9642;</label> FAQ</a></li>
        <li><a href="#"> <label class="dot" > &#9642;</label> Practice at Home</a></li>
      </ul> 
    </div>

    <div id="newsletter">
      <div class="frmtitle">e-Newsletter</div>
      <form>
        <div >
          <input type="text" class="text" placeholder="E-mail Address" >
        </div>
        <input type="button" class="send" value="Send" />
      </form>
      <div class="clearboth"></div>
    </div>

  </section>

  <section id="middle">
    <h5 class="h5title">About</h5>
    <h3 class="h3title">About Body & Brain</h3>
    <iframe  src="https://www.youtube.com/embed/sP-M2LGd4Pw" frameborder="0" allowfullscreen></iframe>

    <p>Body & Brain (formerly Dahn Yoga) is a national leader in holistic health and wellness. Our classes in yoga, tai chi, meditation, and other mind-body workshops combine both traditional Korean healing philosophy and East Asian energy principles. What makes Body & Brain truly unique is its brain-centered approach to comprehensive wellness and its commitment to helping practitioners create energetic, balanced, and healthy lives for themselves and their communities.</p>
    <p>For nearly 20 years, Body & Brain has offered its holistic methods through corporate, affiliate, and franchise locations as well as community-based classes all over the United States. Body & Brain currently operates 121 centers in 20 states and Washington D.C.</p>
    <p>At Body & Brain, we take pride in offering the best of care and services to those who truly seek to improve the overall quality of their lives. We are confident that you will enjoy a deep experience of energy, power, serenity, and vitality in our classes and workshops. With your energetic senses enhanced, you will feel abundant joy, physical strength, and emotional stability that ripples effects into all areas of your life.</p>
    <p>If for any reason you are not satisfied or have suggestions on how we can improve our services, please do not hesitate to speak with any of our instructors at the centers. Your satisfaction takes precedence and your opinion always matters.</p>
    <p>We look forward to seeing you in class!</p>
  </section>
  <div class="clearboth"></div>
  <aside id="sidebar">
    <a href="" class="add"><img src="images/banner_getstarted_small.jpg"></a>

    <div class="success_stories">
     <div class="frmtitle marg_lft suc_stor" >Success Stories</div>



     <div class="story_cont">
      <img class="thumb_pic" src="images/thumbnailTM_1598.jpg" />
      <div class="story_info">
       <div class="story_title">A More Confident Person</div>
       <div class="story_add">Jane Ansin, Arlington center, (MA)</div>
       <div class="story_msg">Dahn yoga helps me so much with my anxiety, trust in myself and others.</div>
     </div>
   </div>


   <div class="story_cont">
    <img class="thumb_pic" src="images/thumbnailTM_1738.jpg" />
    <div class="story_info">
     <div class="story_title">Seeing With Bright Eyes!</div>
     <div class="story_add">Jane Ansin, Arlington center, (MA)</div>
     <div class="story_msg">I became more positive and during meditation, I could feel so much warmth inside my body and renewed...</div>
   </div>
 </div>
 <div class="clearboth"></div>
</div>
<div class="clearboth"></div>
<div class="popularpost">
  <div class="frmtitle marg_lft pop_feat" >Popular Features</div>


  <div class="post">
    <img class="post_pic" src="images/thumbnailTM_1598.jpg" />
    <span>The Power of Mindful Eating</span>
    <div class="clearboth"></div>
  </div>
  <div class="post">
    <img class="post_pic" src="images/thumbnailTM_1598.jpg" />
    <span>Chronic Stress and the Brain: Meditation for Fighting Anxiety</span>
    <div class="clearboth"></div>
  </div>
  <div class="post">
    <img class="post_pic" src="images/thumbnailTM_1598.jpg" />
    <span>Wellness at Work: Jung-Choong Breathing for Stress Reduction</span>
    <div class="clearboth"></div>
  </div>
  <div class="post">
   <img class="post_pic" src="images/thumbnailTM_1598.jpg" />
   <span>Dahn Yoga and Multiple Sclerosis: Exercises for Healing</span>
   <div class="clearboth"></div>
 </div>
 <div class="post">
  <img class="post_pic" src="images/thumbnailTM_1598.jpg" />
  <span>Brain Education Creator, Ilchi Lee Inspires with Solar Energy Training in Mago Garden</span>
  <div class="clearboth"></div>
</div>
<div class="clearboth"> </div>
</div>

</aside>










<div class="row">
<div class="col s12">
  <div class="footer">

    <div class="welcomefooter">
      <h6 class="footertitle">Welcome to Body & Brain!</h6>
      <p>We offer effective stress management solutions through yoga classes, tai chi classes, self-help workshops, </p>
      <p>yoga and meditation retreats based on simple, holistic practices. </p>
      <p> Try it for yourself and experience total body and mind relaxation!</p>
    </div>

    <div class="footerul">
      <div class="sitecenter">
        <ul class="site">
          <li>
            <p><a href="/what-is">About </a></p>
            <a href="/what-is/ilchi-lee" class="link">Founder Ilchi Lee</a>
            <a href="/personal-services" class="link">Personal Services</a>
          </li>
          <li>
            <p><a href="/classes">Classes</a></p>
            <a href="/classes" class="link">Yoga</a>
            <a href="/classes/energy-martial-arts" class="link">Tai Chi / Qigong</a>
          </li>
          <li>
            <p><a href="/workshops">Workshops</a></p>

            <a href="/workshops/initial-awakening" class="link">Initial Awakening™</a>
            <a href="/workshops/finding-true-self" class="link">Finding True Self™</a>
          </li>
          <li class="success">
            <p><a href="/yoga-life">Community</a></p>
            <a href="/yoga-life/Yoga-Tips/1/1" class="link">Yoga Tips</a>
            <a href="http://www.bodynbrainfoundation.org" target="_blank" class="link">Body &amp; Brain   Foundation</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
</div>

<div class="row">
  <div class="col s12">

    <div class="mid">
      <div class="telwrapper">
        <div class="telcenter">
          <a href="tel:1-877-477-YOGA" class="tel">1-877-477-YOGA <span>(9AM-5PM MST, MON-FRI)</span></a>
        </div>
      </div>
      <div class="countrywrapper">
        <div class="countrycenter">
          <div class="country">
            <label for="select_country">Choose Your Country</label>
            <div class="select_wrap">
              <span class="value">Select</span>
              <select name="selecter" style="width:130px;" onchange="location=this.value">
                <option value="#">Select</option>
                <option value="http://bodyandbrain.ca">Canada</option>
                <option value="http://www.hspholistic.de/">Germany</option>
                <option value="http://www.dahnworld.co.jp/">Japan</option>
                <option value="http://www.dahnworld.com/">Korea</option>
                <option value="http://vkontakte.ru/club23685437">Russia</option>
                <option value="http://www.dahnyoga.co.uk/">United Kingdom</option>
                <option value="http://www.brainyoga.com/">Hong Kong</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="bottom">
    <a href="/about-us">Our Company</a>
    <a href="/contactus">Contact Us</a>
    <a href="/what-is/faq">FAQ</a>
    <a href="/terms-of-use">Terms of Use</a>
    <a href="/sitemap">Site Map</a>
    <span class="copyright">© 2015 Body &amp; Brain Yoga · Tai Chi</span>
  </div>
</div>




</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript">
  $( document ).ready(function() {
    $(".button-collapse").sideNav();
    $('.slider').slider({full_width: false});
  });
</script>
</body>
</html>