<!DOCTYPE html>
<html>
<head>

  <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/three_col_inner_page.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/two_col_inner_page.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/center.css"  media="screen,projection"/>
  <link rel='stylesheet' id='camera-css'  href='css/camera.css' type='text/css' media='all'> 
  <link type="text/css" rel="stylesheet" href="css/breadcrumbs.css"  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  
</head>

<body>

  <div class="container">


    <div class="row">
      <div class="col s12">
        <div class="headerlogo">
          <img src="images/logo.gif">
        </div>
        <div class="headercontact">
          <ul>
            <li class="tel">1-877-477-YOGA</li>
            <li class="contactlist"><a href="#">Contact Us</a></li>
            <li class="contactlist"><a href="#">Success stories</a></li>
            <li class="contactlist"><a href="#">Yoga Life</a></li>
            <li class="contactlist"><a href="#">Franchising</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="navigationcustom maincolor">
      <ul>
        <li><a href="#" class="menu">ABOUT</a>
          <ul>
            <li><a href="#" class="submenu">About Body & Brain</a></li>
            <li><a href="#" class="submenu">How Are We Different?</a></li>
            <li><a href="#" class="submenu">Core Energy Principles</a></li>
            <li><a href="#" class="submenu">Founder Ilchi Lee</a></li>
            <li><a href="#" class="submenu">30 Day Guarantee</a></li>
            <li><a href="#" class="submenu">Research</a></li>
            <li><a href="#" class="submenu">FAQ</a></li>
            <li><a href="#" class="submenu">Practice At Home</a></li>
          </ul>
        </li>
        <li><a href="#" class="menu">CLASSES</a>
          <ul>
            <li><a href="#" class="submenu">Overview</a></li>
            <li><a href="#" class="submenu">Video Classes</a></li>
            <li><a href="#" class="submenu">Tai Chi & Qigong</a></li>
            <li><a href="#" class="submenu">Energy Meditation</a></li>
            <li><a href="#" class="submenu">Core Strengthening</a></li>
            <li><a href="#" class="submenu">Glossary</a></li>
            <li><a href="#" class="submenu">Class Etiquette</a></li>
            <li><a href="#" class="submenu">Plate Balancing Exercise</a></li>
          </ul>
        </li>
        <li><a href="#" class="menu">WORKSHOP</a>
          <ul>
            <li><a href="#" class="submenu">Overview</a></li>
            <li><a href="#" class="submenu">Initial Awakening&#8482;</a></li>
            <li><a href="#" class="submenu">Finding True Self</a></li>
            <li><a href="#" class="submenu">Sedona Retreat for Change</a></li>
            <li><a href="#" class="submenu">Solar Body Natural Healing Course</a></li>
            <li><a href="#" class="submenu">DahnMuDo&#8482;</a></li>
            <li><a href="#" class="submenu">Brain Management Training</a></li>
            <li><a href="#" class="submenu">Dahn Master Course</a></li>
            <li><a href="#" class="submenu">Meditation Tours</a></li>
            <li><a href="#" class="submenu">Schedules</a></li>
            <li><a href="#" class="submenu">Healthier Together</a></li>
          </ul>
        </li>
        <li><a href="#" class="menu">WELLNESS AT WORK</a>
          <ul>
            <li><a href="#" class="submenu">Web Design</a></li>
            <li><a href="#" class="submenu">Our Programs</a></li>
            <li><a href="#" class="submenu">Getting Started</a></li>
            <li><a href="#" class="submenu">Success Stories</a></li>
          </ul>
        </li>
        <li><a href="#" class="menu">COMMUNITY ACTION</a>
          <ul>
            <li><a href="#" class="submenu">Overview</a></li>
            <li><a href="#" class="submenu">Community Classes</a></li>
            <li><a href="#" class="submenu">Project Orange</a></li>
            <li><a href="#" class="submenu">Book Donations</a></li>
            <li><a href="#" class="submenu">Nevada 1st Project</a></li>
            <li><a href="#" class="submenu">Nicaragua Project</a></li>
          </ul>
        </li>
        <li class="active"><a href="contact.html">FIND A CLASS</a></li>
      </ul>
    </div>








    <div class="mobilemenu">
      <nav>
        <div class="nav-wrapper maincolor">
          <a href="#!" class="brand-logo"></a>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
          <ul id="nav-mobile" class="side-nav">
            <div class="sidelogo" style="text-align: center;margin-top: 32px;margin-bottom: 16px;border-bottom: 1px solid #ddd;padding:20px;">
              <img src="images/logo.gif" style="width:100%;height:auto;">
            </div>
            <ul class="collapsible collapsible-accordion">
              <li class="bold"><a class="collapsible-header  waves-effect waves-teal">About</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="#" class="submenu">About Body & Brain</a></li>
                    <li><a href="#" class="submenu">How Are We Different?</a></li>
                    <li><a href="#" class="submenu">Core Energy Principles</a></li>
                    <li><a href="#" class="submenu">Founder Ilchi Lee</a></li>
                    <li><a href="#" class="submenu">30 Day Guarantee</a></li>
                    <li><a href="#" class="submenu">Research</a></li>
                    <li><a href="#" class="submenu">FAQ</a></li>
                    <li><a href="#" class="submenu">Practice At Home</a></li>
                  </ul>
                </div>
              </li>
              <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Classes</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="#" class="submenu">Overview</a></li>
                    <li><a href="#" class="submenu">Video Classes</a></li>
                    <li><a href="#" class="submenu">Tai Chi & Qigong</a></li>
                    <li><a href="#" class="submenu">Energy Meditation</a></li>
                    <li><a href="#" class="submenu">Core Strengthening</a></li>
                    <li><a href="#" class="submenu">Glossary</a></li>
                    <li><a href="#" class="submenu">Class Etiquette</a></li>
                    <li><a href="#" class="submenu">Plate Balancing Exercise</a></li>
                  </ul>
                </div>
              </li>
              <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Workshop</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="#" class="submenu">Overview</a></li>
                    <li><a href="#" class="submenu">Initial Awakening</a></li>
                    <li><a href="#" class="submenu">Finding True Self</a></li>
                    <li><a href="#" class="submenu">Sedona Retreat for Change</a></li>
                    <li><a href="#" class="submenu">Solar Body Natural Healing Course</a></li>
                    <li><a href="#" class="submenu">Dahn MuDo</a></li>
                    <li><a href="#" class="submenu">Brain Management Training</a></li>
                    <li><a href="#" class="submenu">Dahn Master Course</a></li>
                    <li><a href="#" class="submenu">Meditation Tours</a></li>
                    <li><a href="#" class="submenu">Schedules</a></li>
                    <li><a href="#" class="submenu">Healthier Together</a></li>
                  </ul>
                </div>
              </li>
              <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Wellness at Work</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="#" class="submenu">Web Design</a></li>
                    <li><a href="#" class="submenu">Our Programs</a></li>
                    <li><a href="#" class="submenu">Getting Started</a></li>
                    <li><a href="#" class="submenu">Success Stories</a></li>
                  </ul>
                </div>
              </li>
              <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Community Action</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="#" class="submenu">Overview</a></li>
                    <li><a href="#" class="submenu">Community Classes</a></li>
                    <li><a href="#" class="submenu">Project Orange</a></li>
                    <li><a href="#" class="submenu">Book Donations</a></li>
                    <li><a href="#" class="submenu">Nevada 1st Project</a></li>
                    <li><a href="#" class="submenu">Nicaragua Project</a></li>
                  </ul>
                </div>
              </li>
            </ul>

            <li class="bold"><a href="getting-started.html" class="waves-effect waves-teal">Find a Class</a></li>
          </li>
        </ul>
      </div>
    </nav>
  </div>















  <div class="divseparetor"></div>
  <div>
    <p id="cnter_name">CENTER NAME HERE<p/>
    </div>
    
    <div id="c_container">
      <div>
        <div class="fluid_container">
          <div>
            <div class="camera_wrap camera_emboss" id="camera_wrap_3">
              <div data-thumb="images/slides/thumbs/big_bunny_fake.jpg" data-src="images/slides/big_bunny_fake.jpg">
              </div>
              <div data-thumb="images/slides/thumbs/leaf.jpg" data-src="images/slides/leaf.jpg"></div>
              <div data-thumb="images/slides/thumbs/road.jpg" data-src="images/slides/road.jpg"> </div><!-- #camera_wrap_3 -->


              <div data-thumb="images/slides/thumbs/big_bunny_fake.jpg" data-src="images/slides/big_bunny_fake.jpg">
              </div>
              <div data-thumb="images/slides/thumbs/leaf.jpg" data-src="images/slides/leaf.jpg"></div>
              <div data-thumb="images/slides/thumbs/road.jpg" data-src="images/slides/road.jpg"> </div><!-- #camera_wrap_3 -->



              <div data-thumb="images/slides/thumbs/big_bunny_fake.jpg" data-src="images/slides/big_bunny_fake.jpg">
              </div>
              <div data-thumb="images/slides/thumbs/leaf.jpg" data-src="images/slides/leaf.jpg"></div>
              <div data-thumb="images/slides/thumbs/road.jpg" data-src="images/slides/road.jpg"> </div><!-- #camera_wrap_3 -->


              <div data-thumb="images/slides/thumbs/big_bunny_fake.jpg" data-src="images/slides/big_bunny_fake.jpg">
              </div>
              <div data-thumb="images/slides/thumbs/leaf.jpg" data-src="images/slides/leaf.jpg"></div>
              <div data-thumb="images/slides/thumbs/road.jpg" data-src="images/slides/road.jpg"> </div><!-- #camera_wrap_3 -->

              <div data-thumb="images/slides/thumbs/big_bunny_fake.jpg" data-src="images/slides/big_bunny_fake.jpg">
              </div>
              <div data-thumb="images/slides/thumbs/leaf.jpg" data-src="images/slides/leaf.jpg"></div>
              <div data-thumb="images/slides/thumbs/road.jpg" data-src="images/slides/road.jpg"> </div><!-- #camera_wrap_3 -->

            </div><!-- .fluid_container -->

            <div style="clear:both;"></div>
          </div>
        </div>
        <p>Body & Brain (formerly Dahn Yoga) is a national leader in holistic health and wellness. Our classes in yoga, tai chi, meditation, and other mind-body workshops combine both traditional Korean healing philosophy and East Asian energy principles. What makes Body & Brain truly unique is its brain-centered approach to comprehensive wellness and its commitment to helping practitioners create energetic, balanced, and healthy lives for themselves and their communities.</p>
      </div>
      <!-- ///////////////////////////////////////////////////////////////////////// -->
      <div>
        <div id="new_title1">
          <p class="center_news cent_h1">News</p>
          <a class="center_view_link lnk_color " href="">View All Post</a>
          <div style="clear:both;"></div>
        </div>

        

        <div style="clear:both;"></div>


        <div id="new_title">
          <p class="center_news cent_h2">Healthier Together</p>
          <a class="center_view_link" href="">Oct 1, 1992</a>
          <div style="clear:both;"></div>
        </div>
        <div id="news_cont">
          <p>Body & Brain (formerly Dahn Yoga) is a national leader in holistic health and wellness. Our classes in yoga, tai chi, meditation, and other mind-body workshops combine both traditional Korean healing philosophy and East Asian energy principles. What makes Body & Brain truly unique is its brain-centered approach to comprehensive wellness and its commitment to helping practitioners create energetic, balanced, and healthy lives for themselves and their communities.</p>
          <p>Body & Brain (formerly Dahn Yoga) is a national leader in holistic health and wellness. Our classes in yoga, tai chi, meditation, and other mind-body workshops combine both traditional Korean healing philosophy and East Asian energy principles. What makes Body & Brain truly unique is its brain-centered approach to comprehensive wellness and its commitment to helping practitioners create energetic, balanced, and healthy lives for themselves and their communities.</p>
          <p>Body & Brain (formerly Dahn Yoga) is a national leader in holistic health and wellness. Our classes in yoga, tai chi, meditation, and other mind-body workshops combine both traditional Korean healing philosophy and East Asian energy principles. What makes Body & Brain truly unique is its brain-centered approach to comprehensive wellness and its commitment to helping practitioners create energetic, balanced, and healthy lives for themselves and their communities.</p>
        </div>


        <div id="new_title1">
          <p class="center_news cent_h1">Calendar</p>
          <a class="center_view_link lnk_color " href="">View All Post</a>
          <div style="clear:both;"></div>

          <div id="cntr_calendar">

            <div class="cntr_cal_date">
              <p class="week" style="font-size:16px">Thursday</p>
              <p class="day">5/14</p>

              <p class="time">8:00PM - 9:00PM</p>
            </div>
            <div class="cntr_cal_cont">
              <p class="title">Solar Body Class Day</p>
              <p class="cont">Solar Body Class Day</p>
            </div>
            <div style="clear:both"></div>
            <hr>

            <div class="cntr_cal_date">
              <p class="week" style="font-size:16px">Thursday</p>
              <p class="day">5/14</p>

              <p class="time">8:00PM - 9:00PM</p>
            </div>
            <div class="cntr_cal_cont">
              <p class="title">Solar Body Class Day</p>
              <p class="cont">Solar Body Class Day</p>
            </div>
            <div style="clear:both"></div>
            <hr>
            <div class="cntr_cal_date">
              <p class="week" style="font-size:16px">Thursday</p>
              <p class="day">5/14</p>

              <p class="time">8:00PM - 9:00PM</p>
            </div>
            <div class="cntr_cal_cont">
              <p class="title">Solar Body Class Day</p>
              <p class="cont">Solar Body Class Day</p>
            </div>
            <div style="clear:both"></div>
            <hr>
            <div class="cntr_cal_date">
              <p class="week" style="font-size:16px">Thursday</p>
              <p class="day">5/14</p>

              <p class="time">8:00PM - 9:00PM</p>
            </div>
            <div class="cntr_cal_cont">
              <p class="title">Solar Body Class Day</p>
              <p class="cont">Solar Body Class Day</p>
            </div>
            <div style="clear:both"></div>
            <hr>

            <div class="cntr_cal_date">
              <p class="week" style="font-size:16px">Thursday</p>
              <p class="day">5/14</p>

              <p class="time">8:00PM - 9:00PM</p>
            </div>
            <div class="cntr_cal_cont">
              <p class="title">Solar Body Class Day</p>
              <p class="cont">Solar Body Class Day</p>
            </div>
            <div style="clear:both"></div>
            <hr>
            <div class="cntr_cal_date">
              <p class="week" style="font-size:16px">Thursday</p>
              <p class="day">5/14</p>

              <p class="time">8:00PM - 9:00PM</p>
            </div>
            <div class="cntr_cal_cont">
              <p class="title">Solar Body Class Day</p>
              <p class="cont">Solar Body Class Day</p>
            </div>
            <div style="clear:both"></div>

          </div>


        </div>


      </div>

    </div>

    <div id="c_rightcont">
      <div class="right_banner">
        <img class="banner_img" src="images/tryourClasses.jpg" >
        <div class="img_link">
         <ul >
          <li><img src="images/btn_schedule_on.gif" ></li>
          <li><img src="images/btn_pricing_on.gif" ></li>
          <li><img src="images/btn_map_on.gif" ></li>
        </ul>
      </div>

      <div class="contact_us">
        <p class="p1">Call US</p>
        <p class="p2">703-648-7717</p>
        <div style="clear:both;"></div>
      </div>

      <div class="right_banner">
       <img src="images/body-and-brain-center-solar-body-book-campaign.jpg" width="100%" >
     </div>

     <div id="cntr_info">
      <p>Hours</p>
      <div><label>Mon to Fri</label> 8:00 AM ~ 9:00 PM</div>
      <div><label>Sat</label> 8:00 AM ~ 9:00 PM</div>
      <div><label>Sun</label> 8:00 AM ~ 9:00 PM</div>
      <p>Address</p>
      <div>Urdaneta City, Pangasinan, 2428 PH.</div>
      <div class="cntr_email">kc.deguia@gmail.com</div>
    </div>


    <div id="cntr_suc_story">


      <div>
        <p class="suc_story_title">Success Stories</p>
        <p class="suc_story_seemore"><a href="">Share Youre Experience</a></p> 
      </div>
      <div style="clear:both"></div>



      <div id="suc_story">
        <img  src="images/thumbnailTM_1598.jpg" />
        <div class="suc_story_info">
          I was diagnosed with a malignant brain tumor a year and a half ago. I have reduced my stress and increased my strength and flexibility.
          <br> <a href="">Read More...</a>
        </div>
        <div style="clear:both"></div>
      </div>
      <div id="suc_story">
        <img  src="images/thumbnailTM_1598.jpg" />
        <div class="suc_story_info">
          My core becomes stronger and stronger. My balance is better...the stretching allows my body to move without pain.
          <br> <a href="">Read More...</a>
        </div>
        <div style="clear:both"></div>
      </div>
      <div id="suc_story">
        <img  src="images/thumbnailTM_1598.jpg" />
        <div class="suc_story_info">
          When it comes to eating, breathing or walking, you see the benefit right away as to how it could change your energy.
          <br> <a href="">Read More...</a>
        </div>
        <div style="clear:both"></div>
      </div>
      <div id="suc_story">
        <img  src="images/thumbnailTM_1598.jpg" />
        <div class="suc_story_info">
          My lower back had given me problems for years. I can go through the exercises and within just a few minutes, feel much better.
          <br> <a href="">Read More...</a>
        </div>
        <div style="clear:both"></div>
      </div>
      <div id="suc_story">
        <img  src="images/thumbnailTM_1598.jpg" />
        <div class="suc_story_info">
          After an appointment with a kidney specialist, I needed to improve my health. When I walked in the door I found hope.
          <br> <a href="">Read More...</a>
        </div>
        <div style="clear:both"></div>
      </div>
      <div id="suc_story">
        <img  src="images/thumbnailTM_1598.jpg" />
        <div class="suc_story_info">
          I've been going for just two weeks and feel significantly more balanced. They help improve our health and mind body connection.
          <br> <a href="">Read More...</a>
        </div>
        <div style="clear:both"></div>
      </div>
      <div style="clear:both"></div>
    </div>

    <div class="line"></div>

    <div id="soc_net">
      <p>Like Us? Spread the Word!</p>
      <img src="images/ico_facebook.gif" >
      <img src="images/ico_twitter.gif" >
      <img src="images/ico_google.gif" >
      <img src="images/sns_yepl.gif" >
    </div>




  </div>

</div>


<div class="row">
          <div class="col s12">
            <div class="footer">

              <div class="welcomefooter">
                <h6 class="footertitle">Welcome to Body & Brain!</h6>
                <p>We offer effective stress management solutions through yoga classes, tai chi classes, self-help workshops, </p>
                <p>yoga and meditation retreats based on simple, holistic practices. </p>
                <p> Try it for yourself and experience total body and mind relaxation!</p>
              </div>

              <div class="footerul">
                <div class="sitecenter">
                  <ul class="site">
                    <li>
                        <p><a href="/what-is">About </a></p>
                        <a href="/what-is/ilchi-lee" class="link">Founder Ilchi Lee</a>
                        <a href="/personal-services" class="link">Personal Services</a>
                    </li>
                    <li>
                        <p><a href="/classes">Classes</a></p>
                        <a href="/classes" class="link">Yoga</a>
                        <a href="/classes/energy-martial-arts" class="link">Tai Chi / Qigong</a>
                    </li>
                    <li>
                        <p><a href="/workshops">Workshops</a></p>
                        
                        <a href="/workshops/initial-awakening" class="link">Initial Awakening™</a>
                        <a href="/workshops/finding-true-self" class="link">Finding True Self™</a>
                    </li>
                    <li class="success">
                        <p><a href="/yoga-life">Community</a></p>
                        <a href="/yoga-life/Yoga-Tips/1/1" class="link">Yoga Tips</a>
                        <a href="http://www.bodynbrainfoundation.org" target="_blank" class="link">Body &amp; Brain   Foundation</a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            
            <div class="mid">
              <div class="telwrapper">
                <div class="telcenter">
                  <a href="tel:1-877-477-YOGA" class="tel">1-877-477-YOGA <span>(9AM-5PM MST, MON-FRI)</span></a>
                </div>
              </div>
              <div class="countrywrapper">
                <div class="countrycenter">
                  <div class="country">
                      <label for="select_country">Choose Your Country</label>
                      <div class="select_wrap">
                        <span class="value">Select</span>
                          <select name="selecter" style="width:130px;" onchange="location=this.value">
                            <option value="#">Select</option>
                            <option value="http://bodyandbrain.ca">Canada</option>
                            <option value="http://www.hspholistic.de/">Germany</option>
                            <option value="http://www.dahnworld.co.jp/">Japan</option>
                            <option value="http://www.dahnworld.com/">Korea</option>
                            <option value="http://vkontakte.ru/club23685437">Russia</option>
                            <option value="http://www.dahnyoga.co.uk/">United Kingdom</option>
                            <option value="http://www.brainyoga.com/">Hong Kong</option>
                          </select>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="bottom">
            <a href="/about-us">Our Company</a>
            <a href="/contactus">Contact Us</a>
            <a href="/what-is/faq">FAQ</a>
            <a href="/terms-of-use">Terms of Use</a>
            <a href="/sitemap">Site Map</a>
            <span class="copyright">© 2015 Body &amp; Brain Yoga · Tai Chi</span>
          </div>
        </div>




<script type='text/javascript' src='js/jquery.min.js'></script>
<script type='text/javascript' src='js/jquery.mobile.customized.min.js'></script>
<script type='text/javascript' src='js/jquery.easing.1.3.js'></script> 
<script type='text/javascript' src='js/camera.js'></script> 

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript">
  $( document ).ready(function() {
    $(".button-collapse").sideNav();
    $('.slider').slider({full_width: false});
  });
</script>

<script>
  jQuery(function(){

    jQuery('#camera_wrap_3').camera({
      height: '56%',
      pagination: false,
      thumbnails: true,
      imagePath: '../images/'
    });

  });
</script>
</body>
</html>