<!DOCTYPE html>
<html>
<head>

  <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/three_col_inner_page.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/two_col_inner_page.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/breadcrumbs.css"  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  
</head>

<body>

  <div class="container">


    <div class="row">
      <div class="col s12">
        <div class="headerlogo">
          <img src="images/logo.gif">
        </div>
        <div class="headercontact">
          <ul>
            <li class="tel">1-877-477-YOGA</li>
            <li class="contactlist"><a href="#">Contact Us</a></li>
            <li class="contactlist"><a href="#">Success stories</a></li>
            <li class="contactlist"><a href="#">Yoga Life</a></li>
            <li class="contactlist"><a href="#">Franchising</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="navigationcustom maincolor">
      <ul>
        <li><a href="#" class="menu">ABOUT</a>
          <ul>
            <li><a href="#" class="submenu">About Body & Brain</a></li>
            <li><a href="#" class="submenu">How Are We Different?</a></li>
            <li><a href="#" class="submenu">Core Energy Principles</a></li>
            <li><a href="#" class="submenu">Founder Ilchi Lee</a></li>
            <li><a href="#" class="submenu">30 Day Guarantee</a></li>
            <li><a href="#" class="submenu">Research</a></li>
            <li><a href="#" class="submenu">FAQ</a></li>
            <li><a href="#" class="submenu">Practice At Home</a></li>
          </ul>
        </li>
        <li><a href="#" class="menu">CLASSES</a>
          <ul>
            <li><a href="#" class="submenu">Overview</a></li>
            <li><a href="#" class="submenu">Video Classes</a></li>
            <li><a href="#" class="submenu">Tai Chi & Qigong</a></li>
            <li><a href="#" class="submenu">Energy Meditation</a></li>
            <li><a href="#" class="submenu">Core Strengthening</a></li>
            <li><a href="#" class="submenu">Glossary</a></li>
            <li><a href="#" class="submenu">Class Etiquette</a></li>
            <li><a href="#" class="submenu">Plate Balancing Exercise</a></li>
          </ul>
        </li>
        <li><a href="#" class="menu">WORKSHOP</a>
          <ul>
            <li><a href="#" class="submenu">Overview</a></li>
            <li><a href="#" class="submenu">Initial Awakening&#8482;</a></li>
            <li><a href="#" class="submenu">Finding True Self</a></li>
            <li><a href="#" class="submenu">Sedona Retreat for Change</a></li>
            <li><a href="#" class="submenu">Solar Body Natural Healing Course</a></li>
            <li><a href="#" class="submenu">DahnMuDo&#8482;</a></li>
            <li><a href="#" class="submenu">Brain Management Training</a></li>
            <li><a href="#" class="submenu">Dahn Master Course</a></li>
            <li><a href="#" class="submenu">Meditation Tours</a></li>
            <li><a href="#" class="submenu">Schedules</a></li>
            <li><a href="#" class="submenu">Healthier Together</a></li>
          </ul>
        </li>
        <li><a href="#" class="menu">WELLNESS AT WORK</a>
          <ul>
            <li><a href="#" class="submenu">Web Design</a></li>
            <li><a href="#" class="submenu">Our Programs</a></li>
            <li><a href="#" class="submenu">Getting Started</a></li>
            <li><a href="#" class="submenu">Success Stories</a></li>
          </ul>
        </li>
        <li><a href="#" class="menu">COMMUNITY ACTION</a>
          <ul>
            <li><a href="#" class="submenu">Overview</a></li>
            <li><a href="#" class="submenu">Community Classes</a></li>
            <li><a href="#" class="submenu">Project Orange</a></li>
            <li><a href="#" class="submenu">Book Donations</a></li>
            <li><a href="#" class="submenu">Nevada 1st Project</a></li>
            <li><a href="#" class="submenu">Nicaragua Project</a></li>
          </ul>
        </li>
        <li class="active"><a href="contact.html">FIND A CLASS</a></li>
      </ul>
    </div>
    <div id="crumbs_cont">
      <ul id="crumbs">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li>Core Energy Principles</li>
      </ul>
    </div>

      <div class="mobilemenu">
          <nav>
            <div class="nav-wrapper maincolor">
              <a href="#!" class="brand-logo"></a>
              <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
              <ul id="nav-mobile" class="side-nav">
                <div class="sidelogo" style="text-align: center;margin-top: 32px;margin-bottom: 16px;border-bottom: 1px solid #ddd;padding:20px;">
                    <img src="images/logo.gif" style="width:100%;height:auto;">
                </div>
                  <ul class="collapsible collapsible-accordion">
                    <li class="bold"><a class="collapsible-header  waves-effect waves-teal">About</a>
                      <div class="collapsible-body">
                        <ul>
                          <li><a href="#" class="submenu">About Body & Brain</a></li>
                          <li><a href="#" class="submenu">How Are We Different?</a></li>
                          <li><a href="#" class="submenu">Core Energy Principles</a></li>
                          <li><a href="#" class="submenu">Founder Ilchi Lee</a></li>
                          <li><a href="#" class="submenu">30 Day Guarantee</a></li>
                          <li><a href="#" class="submenu">Research</a></li>
                          <li><a href="#" class="submenu">FAQ</a></li>
                          <li><a href="#" class="submenu">Practice At Home</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Classes</a>
                      <div class="collapsible-body">
                        <ul>
                          <li><a href="#" class="submenu">Overview</a></li>
                          <li><a href="#" class="submenu">Video Classes</a></li>
                          <li><a href="#" class="submenu">Tai Chi & Qigong</a></li>
                          <li><a href="#" class="submenu">Energy Meditation</a></li>
                          <li><a href="#" class="submenu">Core Strengthening</a></li>
                          <li><a href="#" class="submenu">Glossary</a></li>
                          <li><a href="#" class="submenu">Class Etiquette</a></li>
                          <li><a href="#" class="submenu">Plate Balancing Exercise</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Workshop</a>
                      <div class="collapsible-body">
                        <ul>
                          <li><a href="#" class="submenu">Overview</a></li>
                          <li><a href="#" class="submenu">Initial Awakening</a></li>
                          <li><a href="#" class="submenu">Finding True Self</a></li>
                          <li><a href="#" class="submenu">Sedona Retreat for Change</a></li>
                          <li><a href="#" class="submenu">Solar Body Natural Healing Course</a></li>
                          <li><a href="#" class="submenu">Dahn MuDo</a></li>
                          <li><a href="#" class="submenu">Brain Management Training</a></li>
                          <li><a href="#" class="submenu">Dahn Master Course</a></li>
                          <li><a href="#" class="submenu">Meditation Tours</a></li>
                          <li><a href="#" class="submenu">Schedules</a></li>
                          <li><a href="#" class="submenu">Healthier Together</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Wellness at Work</a>
                      <div class="collapsible-body">
                        <ul>
                          <li><a href="#" class="submenu">Web Design</a></li>
                          <li><a href="#" class="submenu">Our Programs</a></li>
                          <li><a href="#" class="submenu">Getting Started</a></li>
                          <li><a href="#" class="submenu">Success Stories</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Community Action</a>
                      <div class="collapsible-body">
                        <ul>
                          <li><a href="#" class="submenu">Overview</a></li>
                          <li><a href="#" class="submenu">Community Classes</a></li>
                          <li><a href="#" class="submenu">Project Orange</a></li>
                          <li><a href="#" class="submenu">Book Donations</a></li>
                          <li><a href="#" class="submenu">Nevada 1st Project</a></li>
                          <li><a href="#" class="submenu">Nicaragua Project</a></li>
                        </ul>
                      </div>
                    </li>
                  </ul>

                  <li class="bold"><a href="getting-started.html" class="waves-effect waves-teal">Find a Class</a></li>
                </li>
              </ul>
            </div>
          </nav>
        </div>

    <div class="divseparetor"></div>


    <div style="clear:both">
      <section id="container ">
        <div >
          <img src="images/waw_topimg01.jpg" style="width:100%;">
        </div>

      </section>
      <section id="container ">
        <div class="">
          <p id="fontsize1"> COMMUNITY SERVICE IS AT OUR CORE </p>
          <p id="fontsize2">Our practice began over 30 years ago as free classes in a public park in South Korea. We continue to
            honor that tradition by encrouaging voluteers to share Body & Brain yoga where they see a need. Through
            Body & Brain yoga Foundation, our non-profit arm, we support nearly 1,000 active classes offered by
            volunteers at public parks, senior centers, school and community centers.
          </p>
        </div>

      </section>


      <section id="container" style="background:#98ccee">
        <p id="fontsize4"> COMMUNITY SERVICE IS AT OUR CORE </p>








        <style type="text/css">


          /* Image map styles */
          .imageMap {width:100%; position:relative; margin-bottom:200px;}
          .imageMap img {display:block; width:100%; border-radius:20px;}
          .imageMap .hotspots {width:100%; height:100%; position:absolute; left:0; top:0; visibility:hidden;}
          .imageMap a {display:block; position:absolute;  z-index:100; opacity:0.2;  border:0px solid transparent; border-radius:10px; }


          .imageMap a.p1 {left:1%; top:14%; width:11%; height:7%; background: #000 }
          .imageMap a.p1:hover {border: 1px solid #000}
          .imageMap a.p2 {left:1%; top:21%; width:11%; height:7%; background: #000}
          .imageMap a.p2:hover {border: 1px solid #000}
          .imageMap a.p3 {left:1%; top:34%; width:11%; height:7%; background: #000}
          .imageMap a.p3:hover {border: 1px solid #000}
          .imageMap a.p4 {left:1%; top:49%; width:11%; height:7%; background: #000}
          .imageMap a.p4:hover {border: 1px solid #000}
          .imageMap a.p5 {left:1%; top:63%; width:11%; height:7%; background: #000}
          .imageMap a.p5:hover {border: 1px solid #000}
        


          .imageMap a + p {position:absolute; left:0%; top:102%; width:100%; color:#000; display:none;}

          .imageMap:hover .hotspots {visibility:visible;}

        
        
        </style>



















        <div style="text-align:center;" class="imageMap">
          <img id="myImage" src="images/bilog_bilog.png"  alt="Planets" usemap="#planetmap">
          <div class="hotspots">
            <div title=""><a href="#" class="p2" rel="nofollow" aria-haspopup="false"></div>
            <div title=""><a href="#" class="p3" rel="nofollow" aria-haspopup="false"></div>
            <div title=""><a href="#" class="p4" rel="nofollow" aria-haspopup="false"></div>
            <div title=""><a href="#" class="p5" rel="nofollow" aria-haspopup="false"></div>
            <div title=""><a href="#" class="p6" rel="nofollow" aria-haspopup="false"></div>
            
          </div>
        </div>
























      </section>

      <section id="container ">
        <div class="txt_center aff">
          <p id="fontsize3"> We also support the non-profit activities of these affiliates:</p>
        </div>

        <article id="col3" class="txt_center">
          <img src="images/cnt_logo01.png" class="orglogo">
        </article>

        <article id="col3" class="txt_center">
          <img src="images/cnt_logo02.png" class="orglogo">
        </article>
        <article id="col3" class="txt_center">
         <img src="images/cnt_logo03.png" class="orglogo">

       </article>
       <div style="clear:both"></div>

     </section>







      <div class="row">
          <div class="col s12">
            <div class="footer">

              <div class="welcomefooter">
                <h6 class="footertitle">Welcome to Body & Brain!</h6>
                <p>We offer effective stress management solutions through yoga classes, tai chi classes, self-help workshops, </p>
                <p>yoga and meditation retreats based on simple, holistic practices. </p>
                <p> Try it for yourself and experience total body and mind relaxation!</p>
              </div>

              <div class="footerul">
                <div class="sitecenter">
                  <ul class="site">
                    <li>
                        <p><a href="/what-is">About </a></p>
                        <a href="/what-is/ilchi-lee" class="link">Founder Ilchi Lee</a>
                        <a href="/personal-services" class="link">Personal Services</a>
                    </li>
                    <li>
                        <p><a href="/classes">Classes</a></p>
                        <a href="/classes" class="link">Yoga</a>
                        <a href="/classes/energy-martial-arts" class="link">Tai Chi / Qigong</a>
                    </li>
                    <li>
                        <p><a href="/workshops">Workshops</a></p>
                        
                        <a href="/workshops/initial-awakening" class="link">Initial Awakening™</a>
                        <a href="/workshops/finding-true-self" class="link">Finding True Self™</a>
                    </li>
                    <li class="success">
                        <p><a href="/yoga-life">Community</a></p>
                        <a href="/yoga-life/Yoga-Tips/1/1" class="link">Yoga Tips</a>
                        <a href="http://www.bodynbrainfoundation.org" target="_blank" class="link">Body &amp; Brain   Foundation</a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            
            <div class="mid">
              <div class="telwrapper">
                <div class="telcenter">
                  <a href="tel:1-877-477-YOGA" class="tel">1-877-477-YOGA <span>(9AM-5PM MST, MON-FRI)</span></a>
                </div>
              </div>
              <div class="countrywrapper">
                <div class="countrycenter">
                  <div class="country">
                      <label for="select_country">Choose Your Country</label>
                      <div class="select_wrap">
                        <span class="value">Select</span>
                          <select name="selecter" style="width:130px;" onchange="location=this.value">
                            <option value="#">Select</option>
                            <option value="http://bodyandbrain.ca">Canada</option>
                            <option value="http://www.hspholistic.de/">Germany</option>
                            <option value="http://www.dahnworld.co.jp/">Japan</option>
                            <option value="http://www.dahnworld.com/">Korea</option>
                            <option value="http://vkontakte.ru/club23685437">Russia</option>
                            <option value="http://www.dahnyoga.co.uk/">United Kingdom</option>
                            <option value="http://www.brainyoga.com/">Hong Kong</option>
                          </select>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="bottom">
            <a href="/about-us">Our Company</a>
            <a href="/contactus">Contact Us</a>
            <a href="/what-is/faq">FAQ</a>
            <a href="/terms-of-use">Terms of Use</a>
            <a href="/sitemap">Site Map</a>
            <span class="copyright">© 2015 Body &amp; Brain Yoga · Tai Chi</span>
          </div>
        </div>









   </div>


   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <script type="text/javascript" src="js/materialize.min.js"></script>
   <script type="text/javascript">
    $( document ).ready(function() {
      $(".button-collapse").sideNav();
      $('.slider').slider({full_width: false});
    });
  </script>
</body>
</html>