<!DOCTYPE html>
<html>
<head>

  <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/three_col_inner_page.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/two_col_inner_page.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/breadcrumbs.css"  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  
</head>

<body>

  <div class="container">


    <div class="row">
      <div class="col s12">
        <div class="headerlogo">
          <img src="images/logo.gif">
        </div>
        <div class="headercontact">
          <ul>
            <li class="tel">1-877-477-YOGA</li>
            <li class="contactlist"><a href="#">Contact Us</a></li>
            <li class="contactlist"><a href="#">Success stories</a></li>
            <li class="contactlist"><a href="#">Yoga Life</a></li>
            <li class="contactlist"><a href="#">Franchising</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="navigationcustom maincolor">
      <ul>
        <li><a href="#" class="menu">ABOUT</a>
          <ul>
            <li><a href="#" class="submenu">About Body & Brain</a></li>
            <li><a href="#" class="submenu">How Are We Different?</a></li>
            <li><a href="#" class="submenu">Core Energy Principles</a></li>
            <li><a href="#" class="submenu">Founder Ilchi Lee</a></li>
            <li><a href="#" class="submenu">30 Day Guarantee</a></li>
            <li><a href="#" class="submenu">Research</a></li>
            <li><a href="#" class="submenu">FAQ</a></li>
            <li><a href="#" class="submenu">Practice At Home</a></li>
          </ul>
        </li>
        <li><a href="#" class="menu">CLASSES</a>
          <ul>
            <li><a href="#" class="submenu">Overview</a></li>
            <li><a href="#" class="submenu">Video Classes</a></li>
            <li><a href="#" class="submenu">Tai Chi & Qigong</a></li>
            <li><a href="#" class="submenu">Energy Meditation</a></li>
            <li><a href="#" class="submenu">Core Strengthening</a></li>
            <li><a href="#" class="submenu">Glossary</a></li>
            <li><a href="#" class="submenu">Class Etiquette</a></li>
            <li><a href="#" class="submenu">Plate Balancing Exercise</a></li>
          </ul>
        </li>
        <li><a href="#" class="menu">WORKSHOP</a>
          <ul>
            <li><a href="#" class="submenu">Overview</a></li>
            <li><a href="#" class="submenu">Initial Awakening&#8482;</a></li>
            <li><a href="#" class="submenu">Finding True Self</a></li>
            <li><a href="#" class="submenu">Sedona Retreat for Change</a></li>
            <li><a href="#" class="submenu">Solar Body Natural Healing Course</a></li>
            <li><a href="#" class="submenu">DahnMuDo&#8482;</a></li>
            <li><a href="#" class="submenu">Brain Management Training</a></li>
            <li><a href="#" class="submenu">Dahn Master Course</a></li>
            <li><a href="#" class="submenu">Meditation Tours</a></li>
            <li><a href="#" class="submenu">Schedules</a></li>
            <li><a href="#" class="submenu">Healthier Together</a></li>
          </ul>
        </li>
        <li><a href="#" class="menu">WELLNESS AT WORK</a>
          <ul>
            <li><a href="#" class="submenu">Web Design</a></li>
            <li><a href="#" class="submenu">Our Programs</a></li>
            <li><a href="#" class="submenu">Getting Started</a></li>
            <li><a href="#" class="submenu">Success Stories</a></li>
          </ul>
        </li>
        <li><a href="#" class="menu">COMMUNITY ACTION</a>
          <ul>
            <li><a href="#" class="submenu">Overview</a></li>
            <li><a href="#" class="submenu">Community Classes</a></li>
            <li><a href="#" class="submenu">Project Orange</a></li>
            <li><a href="#" class="submenu">Book Donations</a></li>
            <li><a href="#" class="submenu">Nevada 1st Project</a></li>
            <li><a href="#" class="submenu">Nicaragua Project</a></li>
          </ul>
        </li>
        <li class="active"><a href="contact.html">FIND A CLASS</a></li>
      </ul>
    </div>
    <div id="crumbs_cont">
      <ul id="crumbs">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li>Core Energy Principles</li>
      </ul>
    </div>
      <div class="mobilemenu">
          <nav>
            <div class="nav-wrapper maincolor">
              <a href="#!" class="brand-logo"></a>
              <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
              <ul id="nav-mobile" class="side-nav">
                <div class="sidelogo" style="text-align: center;margin-top: 32px;margin-bottom: 16px;border-bottom: 1px solid #ddd;padding:20px;">
                    <img src="images/logo.gif" style="width:100%;height:auto;">
                </div>
                  <ul class="collapsible collapsible-accordion">
                    <li class="bold"><a class="collapsible-header  waves-effect waves-teal">About</a>
                      <div class="collapsible-body">
                        <ul>
                          <li><a href="#" class="submenu">About Body & Brain</a></li>
                          <li><a href="#" class="submenu">How Are We Different?</a></li>
                          <li><a href="#" class="submenu">Core Energy Principles</a></li>
                          <li><a href="#" class="submenu">Founder Ilchi Lee</a></li>
                          <li><a href="#" class="submenu">30 Day Guarantee</a></li>
                          <li><a href="#" class="submenu">Research</a></li>
                          <li><a href="#" class="submenu">FAQ</a></li>
                          <li><a href="#" class="submenu">Practice At Home</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Classes</a>
                      <div class="collapsible-body">
                        <ul>
                          <li><a href="#" class="submenu">Overview</a></li>
                          <li><a href="#" class="submenu">Video Classes</a></li>
                          <li><a href="#" class="submenu">Tai Chi & Qigong</a></li>
                          <li><a href="#" class="submenu">Energy Meditation</a></li>
                          <li><a href="#" class="submenu">Core Strengthening</a></li>
                          <li><a href="#" class="submenu">Glossary</a></li>
                          <li><a href="#" class="submenu">Class Etiquette</a></li>
                          <li><a href="#" class="submenu">Plate Balancing Exercise</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Workshop</a>
                      <div class="collapsible-body">
                        <ul>
                          <li><a href="#" class="submenu">Overview</a></li>
                          <li><a href="#" class="submenu">Initial Awakening</a></li>
                          <li><a href="#" class="submenu">Finding True Self</a></li>
                          <li><a href="#" class="submenu">Sedona Retreat for Change</a></li>
                          <li><a href="#" class="submenu">Solar Body Natural Healing Course</a></li>
                          <li><a href="#" class="submenu">Dahn MuDo</a></li>
                          <li><a href="#" class="submenu">Brain Management Training</a></li>
                          <li><a href="#" class="submenu">Dahn Master Course</a></li>
                          <li><a href="#" class="submenu">Meditation Tours</a></li>
                          <li><a href="#" class="submenu">Schedules</a></li>
                          <li><a href="#" class="submenu">Healthier Together</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Wellness at Work</a>
                      <div class="collapsible-body">
                        <ul>
                          <li><a href="#" class="submenu">Web Design</a></li>
                          <li><a href="#" class="submenu">Our Programs</a></li>
                          <li><a href="#" class="submenu">Getting Started</a></li>
                          <li><a href="#" class="submenu">Success Stories</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Community Action</a>
                      <div class="collapsible-body">
                        <ul>
                          <li><a href="#" class="submenu">Overview</a></li>
                          <li><a href="#" class="submenu">Community Classes</a></li>
                          <li><a href="#" class="submenu">Project Orange</a></li>
                          <li><a href="#" class="submenu">Book Donations</a></li>
                          <li><a href="#" class="submenu">Nevada 1st Project</a></li>
                          <li><a href="#" class="submenu">Nicaragua Project</a></li>
                        </ul>
                      </div>
                    </li>
                  </ul>

                  <li class="bold"><a href="getting-started.html" class="waves-effect waves-teal">Find a Class</a></li>
                </li>
              </ul>
            </div>
          </nav>
        </div>
    <div class="divseparetor"></div>


    <div style="clear:both">
    <section id="container ">
      <div id="hbanner">
        <img src="images/waw_topimg01.jpg" >
        <div id="t_banner">
          <div id="bh1">WELLNESS AT WORK</div>
          <div id="bh2">Holistic Stress Management & Workplace Solutions</div>
        </div>
      </div>
      <div class="banmenu">
        <article id="col3" class="blink bline">
          <a id="bh3" href="" style="color:#fff;">OUR <br> PROGRAMS</a>
        </article>

        <article id="col3" class="blink bline">
          <a id="bh3" href="" style="color:#fff;">GETTING <br> STARTED</a>
         
        </article>
        <article id="col3" class="blink">
          <a id="bh3" href="" style="color:#fff;">SUCCESS<br> STORIES</a>
  
        </article>
        <div style="clear:both">
      </div>
    </section>

    















  </div>


  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript">
    $( document ).ready(function() {
      $(".button-collapse").sideNav();
      $('.slider').slider({full_width: false});
    });
  </script>
</body>
</html>