<!DOCTYPE html>
<html>
<head>

  <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/three_col_inner_page.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/two_col_inner_page.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/breadcrumbs.css"  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  
</head>

<body>

  <div class="container">


    <div class="row">
      <div class="col s12">
        <div class="headerlogo">
          <img src="images/logo.gif">
        </div>
        <div class="headercontact">
          <ul>
            <li class="tel">1-877-477-YOGA</li>
            <li class="contactlist"><a href="#">Contact Us</a></li>
            <li class="contactlist"><a href="#">Success stories</a></li>
            <li class="contactlist"><a href="#">Yoga Life</a></li>
            <li class="contactlist"><a href="#">Franchising</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="navigationcustom maincolor">
      <ul>
        <li><a href="#" class="menu">ABOUT</a>
          <ul>
            <li><a href="#" class="submenu">About Body & Brain</a></li>
            <li><a href="#" class="submenu">How Are We Different?</a></li>
            <li><a href="#" class="submenu">Core Energy Principles</a></li>
            <li><a href="#" class="submenu">Founder Ilchi Lee</a></li>
            <li><a href="#" class="submenu">30 Day Guarantee</a></li>
            <li><a href="#" class="submenu">Research</a></li>
            <li><a href="#" class="submenu">FAQ</a></li>
            <li><a href="#" class="submenu">Practice At Home</a></li>
          </ul>
        </li>
        <li><a href="#" class="menu">CLASSES</a>
          <ul>
            <li><a href="#" class="submenu">Overview</a></li>
            <li><a href="#" class="submenu">Video Classes</a></li>
            <li><a href="#" class="submenu">Tai Chi & Qigong</a></li>
            <li><a href="#" class="submenu">Energy Meditation</a></li>
            <li><a href="#" class="submenu">Core Strengthening</a></li>
            <li><a href="#" class="submenu">Glossary</a></li>
            <li><a href="#" class="submenu">Class Etiquette</a></li>
            <li><a href="#" class="submenu">Plate Balancing Exercise</a></li>
          </ul>
        </li>
        <li><a href="#" class="menu">WORKSHOP</a>
          <ul>
            <li><a href="#" class="submenu">Overview</a></li>
            <li><a href="#" class="submenu">Initial Awakening&#8482;</a></li>
            <li><a href="#" class="submenu">Finding True Self</a></li>
            <li><a href="#" class="submenu">Sedona Retreat for Change</a></li>
            <li><a href="#" class="submenu">Solar Body Natural Healing Course</a></li>
            <li><a href="#" class="submenu">DahnMuDo&#8482;</a></li>
            <li><a href="#" class="submenu">Brain Management Training</a></li>
            <li><a href="#" class="submenu">Dahn Master Course</a></li>
            <li><a href="#" class="submenu">Meditation Tours</a></li>
            <li><a href="#" class="submenu">Schedules</a></li>
            <li><a href="#" class="submenu">Healthier Together</a></li>
          </ul>
        </li>
        <li><a href="#" class="menu">WELLNESS AT WORK</a>
          <ul>
            <li><a href="#" class="submenu">Web Design</a></li>
            <li><a href="#" class="submenu">Our Programs</a></li>
            <li><a href="#" class="submenu">Getting Started</a></li>
            <li><a href="#" class="submenu">Success Stories</a></li>
          </ul>
        </li>
        <li><a href="#" class="menu">COMMUNITY ACTION</a>
          <ul>
            <li><a href="#" class="submenu">Overview</a></li>
            <li><a href="#" class="submenu">Community Classes</a></li>
            <li><a href="#" class="submenu">Project Orange</a></li>
            <li><a href="#" class="submenu">Book Donations</a></li>
            <li><a href="#" class="submenu">Nevada 1st Project</a></li>
            <li><a href="#" class="submenu">Nicaragua Project</a></li>
          </ul>
        </li>
        <li class="active"><a href="contact.html">FIND A CLASS</a></li>
      </ul>
    </div>
      <div class="mobilemenu">
          <nav>
            <div class="nav-wrapper maincolor">
              <a href="#!" class="brand-logo"></a>
              <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
              <ul id="nav-mobile" class="side-nav">
                <div class="sidelogo" style="text-align: center;margin-top: 32px;margin-bottom: 16px;border-bottom: 1px solid #ddd;padding:20px;">
                    <img src="images/logo.gif" style="width:100%;height:auto;">
                </div>
                  <ul class="collapsible collapsible-accordion">
                    <li class="bold"><a class="collapsible-header  waves-effect waves-teal">About</a>
                      <div class="collapsible-body">
                        <ul>
                          <li><a href="#" class="submenu">About Body & Brain</a></li>
                          <li><a href="#" class="submenu">How Are We Different?</a></li>
                          <li><a href="#" class="submenu">Core Energy Principles</a></li>
                          <li><a href="#" class="submenu">Founder Ilchi Lee</a></li>
                          <li><a href="#" class="submenu">30 Day Guarantee</a></li>
                          <li><a href="#" class="submenu">Research</a></li>
                          <li><a href="#" class="submenu">FAQ</a></li>
                          <li><a href="#" class="submenu">Practice At Home</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Classes</a>
                      <div class="collapsible-body">
                        <ul>
                          <li><a href="#" class="submenu">Overview</a></li>
                          <li><a href="#" class="submenu">Video Classes</a></li>
                          <li><a href="#" class="submenu">Tai Chi & Qigong</a></li>
                          <li><a href="#" class="submenu">Energy Meditation</a></li>
                          <li><a href="#" class="submenu">Core Strengthening</a></li>
                          <li><a href="#" class="submenu">Glossary</a></li>
                          <li><a href="#" class="submenu">Class Etiquette</a></li>
                          <li><a href="#" class="submenu">Plate Balancing Exercise</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Workshop</a>
                      <div class="collapsible-body">
                        <ul>
                          <li><a href="#" class="submenu">Overview</a></li>
                          <li><a href="#" class="submenu">Initial Awakening</a></li>
                          <li><a href="#" class="submenu">Finding True Self</a></li>
                          <li><a href="#" class="submenu">Sedona Retreat for Change</a></li>
                          <li><a href="#" class="submenu">Solar Body Natural Healing Course</a></li>
                          <li><a href="#" class="submenu">Dahn MuDo</a></li>
                          <li><a href="#" class="submenu">Brain Management Training</a></li>
                          <li><a href="#" class="submenu">Dahn Master Course</a></li>
                          <li><a href="#" class="submenu">Meditation Tours</a></li>
                          <li><a href="#" class="submenu">Schedules</a></li>
                          <li><a href="#" class="submenu">Healthier Together</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Wellness at Work</a>
                      <div class="collapsible-body">
                        <ul>
                          <li><a href="#" class="submenu">Web Design</a></li>
                          <li><a href="#" class="submenu">Our Programs</a></li>
                          <li><a href="#" class="submenu">Getting Started</a></li>
                          <li><a href="#" class="submenu">Success Stories</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Community Action</a>
                      <div class="collapsible-body">
                        <ul>
                          <li><a href="#" class="submenu">Overview</a></li>
                          <li><a href="#" class="submenu">Community Classes</a></li>
                          <li><a href="#" class="submenu">Project Orange</a></li>
                          <li><a href="#" class="submenu">Book Donations</a></li>
                          <li><a href="#" class="submenu">Nevada 1st Project</a></li>
                          <li><a href="#" class="submenu">Nicaragua Project</a></li>
                        </ul>
                      </div>
                    </li>
                  </ul>

                  <li class="bold"><a href="getting-started.html" class="waves-effect waves-teal">Find a Class</a></li>
                </li>
              </ul>
            </div>
          </nav>
        </div>
    <div class="divseparetor"></div>

    <section id="container w_head">
      <article class="w_banner">
        <img src="images/img_visual.png">
        <p>
         In addition to our regular Body & Brain yoga classes, we offer workshops that help you reach your personal potential.
         Most people who take our workshops experience deeper relaxation and find that even the regular class
         itself takes on greater meaning and effectiveness.
       </p>
     </article>
     <div class="up_sched">

      <div class="w_h_title">
        <p class="u_s_title">Upcoming Schedule</p> 
        <a class="see_all" href="" style="color:#fff;">See All</a>
        <div style="clear:both"></div>
      </div>
      <ul id="w_sched">
        <li>
          <h5 id="wh5"><label class="dot" > &#9642;</label> Finding True Self</h5>
          <div style="clear:both">

            <div id="wh5_sched_add">
              Atlanta, GA
              <a href=""> Dahn Yoga center</a>
            </div>
            <div id="sched_date"> May 16-17 2015</div>
          </div>

        </li>
        <li>
          <h5 id="wh5"><label class="dot" > &#9642;</label> Finding True Self</h5>

          <div id="wh5_sched_add">
            Atlanta, GA
            <a href="" > Dahn Yoga center</a>
          </div>
          <div id="sched_date"> May 16-17 2015</div>

        </li>
        <li>
          <h5 id="wh5"><label class="dot" > &#9642;</label> Finding True Self</h5>
          <div id="wh5_sched_add">
            Atlanta, GA
            <a href=""> Dahn Yoga center</a>
          </div>
          <div id="sched_date"> May 16-17 2015</div>
        </li>
      </ul>
    </div>
     <div style="clear:both"></div>
   <!--    <article class="w_h_desc">
        <p>
         In addition to our regular Body & Brain yoga classes, we offer workshops that help you reach your personal potential.
         Most people who take our workshops experience deeper relaxation and find that even the regular class
         itself takes on greater meaning and effectiveness.
       </p>
     </article> -->

   </section>
   <!-- THREE COL -->
   <section id="container">
    <p id="h1_title">Featured Workshops</p>
    <article id="col3">
      <img src="images/img_feature_03.png" class="t_c_img">
      <p id="h3_title">Initial Awakening™</p>
      <p>Quiet your mind and strengthen your core. An essential workshop to get the most out of your Body &amp; Brain yoga practice. Learn how to apply Body &amp; Brain yoga practice to your everyday life for developing more energy, greater strength, better stress management, and clearer focus.</p>
    </article>

    <article id="col3">
      <img src="images/img_feature_06.png" class="t_c_img">
      <p id="h3_title">Sedona Retreat for Change</p>
      <p>This three day journey will guide you to encounter life changing moments through the communication with yourself and nature. Reclaim the original beauty in you. Enjoy guided meditations that will enhance self-awareness at the major vortex sites.</p>
    </article>
    <article id="col3">
      <img src="images/img_feature_07.png" class="t_c_img">
      <p id="h3_title">Finding True Self</p>
      <p>Find your true self and open your heart. A transformational workshop that helps you reconnect with your true nature. Identify the mental and emotional patterns that keep you from living your best life, opening a path of manifestation of your greatest potential.</p>
    </article>
    <div style="clear:both"></div>
  </section>



  <section id="container " class="cont_bor">
   <p id="h1_title">All Workshops</p>
   <article id="col2">
    <img src="images/img_feature_06.png" class="two_col_img">
    <div class="col2_cont">
      <p id="h3_title">Initial Awakening™</p>
      <p class="col2_p">Quiet your mind and strengthen your core. An essential workshop to get the most out of your Body &amp; Brain yoga practice. Learn how to apply Body &amp; Brain yoga practice to your everyday life for developing more energy, greater strength, better stress management, and clearer focus.</p>
    </div>
  </article>
  
  <article id="col2">
    <img src="images/img_feature_06.png" class="two_col_img">
    <div class="col2_cont">
      <p id="h3_title">Sedona Retreat for Change</p>
      <p class="col2_p">This three day journey will guide you to encounter life changing moments through the communication with yourself and nature. Reclaim the original beauty in you. Enjoy guided meditations that will enhance self-awareness at the major vortex sites.</p>
    </div>
  </article>
  <article id="col2">
    <img src="images/img_feature_07.png" class="two_col_img">
    <div class="col2_cont">
      <p id="h3_title">Finding True Self</p>
      <p class="col2_p">Find your true self and open your heart. A transformational workshop that helps you reconnect with your true nature. Identify the mental and emotional patterns that keep you from living your best life, opening a path of manifestation of your greatest potential.</p>
    </div>
  </article>
  <article id="col2">
    <img src="images/img_feature_07.png" class="two_col_img">
    <div class="col2_cont">
      <p id="h3_title">Finding True Self</p>
      <p class="col2_p">Find your true self and open your heart. A transformational workshop that helps you reconnect with your true nature. Identify the mental and emotional patterns that keep you from living your best life, opening a path of manifestation of your greatest potential.</p>
    </div>
  </article>
  <div style="clear:both">
  </section>














<div class="row">
          <div class="col s12">
            <div class="footer">

              <div class="welcomefooter">
                <h6 class="footertitle">Welcome to Body & Brain!</h6>
                <p>We offer effective stress management solutions through yoga classes, tai chi classes, self-help workshops, </p>
                <p>yoga and meditation retreats based on simple, holistic practices. </p>
                <p> Try it for yourself and experience total body and mind relaxation!</p>
              </div>

              <div class="footerul">
                <div class="sitecenter">
                  <ul class="site">
                    <li>
                        <p><a href="/what-is">About </a></p>
                        <a href="/what-is/ilchi-lee" class="link">Founder Ilchi Lee</a>
                        <a href="/personal-services" class="link">Personal Services</a>
                    </li>
                    <li>
                        <p><a href="/classes">Classes</a></p>
                        <a href="/classes" class="link">Yoga</a>
                        <a href="/classes/energy-martial-arts" class="link">Tai Chi / Qigong</a>
                    </li>
                    <li>
                        <p><a href="/workshops">Workshops</a></p>
                        
                        <a href="/workshops/initial-awakening" class="link">Initial Awakening™</a>
                        <a href="/workshops/finding-true-self" class="link">Finding True Self™</a>
                    </li>
                    <li class="success">
                        <p><a href="/yoga-life">Community</a></p>
                        <a href="/yoga-life/Yoga-Tips/1/1" class="link">Yoga Tips</a>
                        <a href="http://www.bodynbrainfoundation.org" target="_blank" class="link">Body &amp; Brain   Foundation</a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            
            <div class="mid">
              <div class="telwrapper">
                <div class="telcenter">
                  <a href="tel:1-877-477-YOGA" class="tel">1-877-477-YOGA <span>(9AM-5PM MST, MON-FRI)</span></a>
                </div>
              </div>
              <div class="countrywrapper">
                <div class="countrycenter">
                  <div class="country">
                      <label for="select_country">Choose Your Country</label>
                      <div class="select_wrap">
                        <span class="value">Select</span>
                          <select name="selecter" style="width:130px;" onchange="location=this.value">
                            <option value="#">Select</option>
                            <option value="http://bodyandbrain.ca">Canada</option>
                            <option value="http://www.hspholistic.de/">Germany</option>
                            <option value="http://www.dahnworld.co.jp/">Japan</option>
                            <option value="http://www.dahnworld.com/">Korea</option>
                            <option value="http://vkontakte.ru/club23685437">Russia</option>
                            <option value="http://www.dahnyoga.co.uk/">United Kingdom</option>
                            <option value="http://www.brainyoga.com/">Hong Kong</option>
                          </select>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="bottom">
            <a href="/about-us">Our Company</a>
            <a href="/contactus">Contact Us</a>
            <a href="/what-is/faq">FAQ</a>
            <a href="/terms-of-use">Terms of Use</a>
            <a href="/sitemap">Site Map</a>
            <span class="copyright">© 2015 Body &amp; Brain Yoga · Tai Chi</span>
          </div>
        </div>


</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript">
  $( document ).ready(function() {
    $(".button-collapse").sideNav();
    $('.slider').slider({full_width: false});
  });
</script>
</body>
</html>